.plyr--audio .plyr__controls button.tab-focus:focus,
.plyr--audio .plyr__controls button:hover,
.plyr__play-large {
    background: $accent-color;
}
.plyr__play-large {
    padding: 30px;
    border: none;
}
.plyr--video .plyr__controls button.tab-focus:focus,
.plyr--video .plyr__controls button:hover {
    background: $accent-color;
}
.plyr__progress--played,
.plyr__volume--display {
    color: $accent-color;
}

.plyr input[type=range]:active::-webkit-slider-thumb {
    background: $accent-color;
    border-color:#fff;
    -webkit-transform:scale(1.25);
    transform:scale(1.25)
}
.plyr input[type=range]:active::-moz-range-thumb {
    background: $accent-color;
    border-color:#fff;
    transform:scale(1.25)
}
.plyr input[type=range]:active::-ms-thumb {
    background: $accent-color;
    border-color:#fff;
    -ms-transform:scale(1.25);
    transform:scale(1.25)
}