// Refrigerator Delux

@font-face {
  font-family: 'Refrigerator Delux';
  src: url(../fonts/RefrigeratorDeluxeLight.otf);
  font-weight: 100;
}

@font-face {
  font-family: 'Refrigerator Delux';
  src: url(../fonts/RefrigeratorDeluxe.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Refrigerator Delux';
  src: url(../fonts/RefrigeratorDeluxeBold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'Refrigerator Delux';
  src: url(../fonts/RefrigeratorDeluxeHeavy.otf);
  font-weight: 900;
}

// Open Sans

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-LightItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Light.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-SemiboldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Semibold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-BoldItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 900;
  font-style: normal;
}
