.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}


//margin-top
.marg-top-5{
  margin-top: 5px !important;
}

.marg-top-10{
  margin-top: 10px !important;
}
.marg-top-30{
  margin-top: 30px;
}
.marg-top-50{
  margin-top: 50px !important;
}

//margin-left
.marg-left-10{
  margin-left: 10px !important;
}
.marg-left-20{
  margin-left: 20px !important;
}

//margin-right
.marg-right-10{
  margin-right: 10px !important;
}
.marg-right-20{
  margin-right: 20px !important;
}

//margin-bottom
.marg-bottom-0{
  margin-bottom: 0px !important;
}

.marg-bottom-5{
  margin-bottom: 5px !important;
}

.marg-bottom-10{
  margin-bottom: 10px !important;
}

.marg-bottom-20{
  margin-bottom: 20px !important;
}

.marg-bottom-30{
  margin-bottom: 30px !important;
}

.marg-bottom-40{
  margin-bottom: 40px !important;
}

.marg-bottom-50{
  margin-bottom: 50px !important;
}

.pad-20{
  padding: 20px;
}

//FLOAT
.float-right{
  float: right !important;
}
.float-left{
  float: left !important;
}