::selection {
  background: rgba(#fff000, .5);
}

.flex {
  display: flex;
  align-items: center;
}

input,
.btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.main-container {
  max-width: 1533px;
  margin: 0 auto;
}

body {
  font-family: "Refrigerator Delux";
}

html,
body{
  height: 100%;
}

.container-fluid{
  width:100%;
  padding-left: 20px;
  padding-right: 20px;
}

.flex-container{
  display: flex;
}

.block-title{
  margin-bottom:70px;

  p{
    text-align: center;
    position: relative;
    margin:0;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1;

    &:after{
      content: '';
      position: absolute;
      left:0;
      right:0;
      bottom:-20px;
      width: 60px;
      height: 4px;
      margin:auto;
      background: #b5a618;
    }
  }

  &.align-left{
    p{
      text-align: left;

      &:after{
        right:auto;
      }
    }
  }

  &.color-white{
    p{
      color: #fff;
    }
  }
}

.block-desc{
  max-width: 660px;
  margin-bottom:30px;
  margin-left: auto;
  margin-right: auto;

  p{
    text-align: center;
    color: #555;;
  }
}



.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 55px);
}

.content {
  flex: 1 0 auto;
}

.content__wrap{
  padding:50px 0;
}

.footer {
  flex: 0 0 auto;
}

.search-block{
  position: relative;

  input{
    width: 100%;
    padding: 6px 40px 6px 10px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #ddd;
  }

  button{
    position: absolute;
    top:0;
    //bottom:0;
    right:0;
    //margin:auto;
    border: none;
    background: transparent;
    width:40px;
    height: 36px;
    line-height: 45px;
    padding:0;

    &:focus{
      outline: none;
    }
  }
}

.load-more {
  text-align: center;

  a{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: map_get($colors, 'gold');
    padding-right:20px;
    text-decoration: none;
    transition: .2s ease-in-out;

    &:hover{
      transform: scale(1.1);
      i{
        transform: rotate(-90deg);
      }
    }

    i{
      position: absolute;
      top:0;
      bottom:0;
      right:0;
      margin: auto;
      transition: .2s ease-in-out;
    }
  }
}

.social-progress-bar{
  .flex-container{
    justify-content: space-between;
    align-items: center;
  }

  span{
    color: #fff;
    padding:0 10px;
    min-width:50px;
    display: flex;
    align-items: center;
    min-width:80px;

    &:first-child{
      background: map-get($colors,'gold');
    }

    &:nth-child(2){
      background: #000;
    }

    &:nth-child(3){
      background: map-get($colors,'gold');
    }

    i{
      margin-right:10px;
    }

    em{
      font-style: normal;
      color: #fff;
      display: inline-block;
      vertical-align: middle;
    }
  }


  ul{
    padding: 0;
    margin: 0;
    list-style: none;

    li{

      display: inline-block;
      margin-right:-4px;
    }
  }

  &.three-colors{
    span{
      &:first-child{
        background: map-get($colors,'red');
      }
    }
  }
}

.select-block{
  label{
    position: relative;
    padding-right: 15px;
    background: url("../img/select-bg.png");
    background-position: center right;
    background-repeat: no-repeat;
  }

  select {
    padding: 0 8px;
    border: none;
    appearance: none;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;

    &:focus{
      outline: none;
    }
  }
}

.tooltip-wrap{
  position: relative;
}

.tooltip__title{
  position: absolute;
  right:-120px;
  top:50%;
  transform: translate(0, -50%);
  color: map-get($colors, 'gold');
  font-size: 20px;
  font-weight:bold;
  text-transform: uppercase;
  cursor: pointer;

  &:hover{
    ~ .tooltip__text {
      opacity: 1; /* Показываем его */
      visibility: visible;
    }
  }
}

.tooltip__text {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px 8px 8px 0px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: #FFF;
  opacity: 0;
  padding: 10px 20px;
  position: absolute;
  bottom: 120%;
  left: 0;
  font-size: 16px;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  z-index: 5;

  &:after{
    content: '';
    position: absolute;
    left:0;
    bottom:-10px;
    border-left: 10px solid rgba(0, 0, 0, 0.8);
    border-bottom: 10px solid transparent;

  }
}


.user-info{
  display: flex;
  align-items: center;

  .button-circle__add{
    margin-right:10px;
  }

  span{
    position: relative;
    margin-right:18px;
    font-size: 20px;
    text-transform: uppercase;

    &:after{
      content: '';
      position: absolute;
      top:0;
      bottom:0;
      right:-10px;
      width:2px;
      height:18px;
      margin: auto;
      background: map_get($colors, 'gold');
    }

    &:last-child{
      margin-right:0;

      &:after{
        display: none;
      }
    }
  }
}

.info-summary{
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &.item-white{
    .info-summary__item{
      color: #fff;
    }
  }

  &.item-border--red{
    .info-summary__item{
      &:first-child{
        .info-summary__item-title{
          border-left-color: map-get($colors, 'red');
        }
      }
    }

    .info-summary__item-title{
      border-right-width:4px;
      border-right-style: solid;
      border-right-color: map-get($colors, 'red');
    }
  }
}

.info-summary__item{
  width: 25%;

  &:first-child{
    .info-summary__item-title{
      border-left-width:4px;
      border-left-style: solid;
      border-left-color: map-get($colors, 'gold');
    }
  }

  span{
    display: block;
    text-align: center;
    padding: 0 10px;
  }
}

.info-summary__item-title{
  font-size: 40px;
  line-height: 1;
  font-weight:700;
  border-right-width:4px;
  border-right-style: solid;
  border-right-color: map-get($colors, 'gold');
  margin-bottom: 10px;
}

.info-summary__item-desc{
  text-transform: uppercase;
}

.spec-half{
  display: flex;
  min-height: 380px;
  align-items: center;
}

.spec-half__left{
  width:40%;
}

.spec-half__left-wrap{
  max-width:364px;
}

.spec-half__right{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 58%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.spec-half__img{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-right:2px solid #000;

  &:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: #000;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
  }
}
