::selection {
  background: rgba(#fff000, .5);
}

.flex {
  display: flex;
  align-items: center;
}

.link{
  text-transform: uppercase;
  color:#000;
  transition: .2s ease-in-out;

  &:hover{
    text-decoration: none;
    color: map_get($colors, 'gold');
  }
}

input,
.btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.main-container {
  max-width: 1533px;
  margin: 0 auto;
}

body {
  font-family: "Refrigerator Delux";
}

html,
body{
  height: 100%;
  font-size: 18px;
}

.container-fluid{
  width:100%;
  padding-left: 20px;
  padding-right: 20px;
}

.flex-container{
  display: flex;
}

.block-title{
  margin-bottom:70px;

  p{
    text-align: center;
    position: relative;
    margin:0;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1;

    &:after{
      content: '';
      position: absolute;
      left:0;
      right:0;
      bottom:-20px;
      width: 60px;
      height: 4px;
      margin:auto;
      background: #b5a618;
    }
  }

  &.align-left{
    p{
      text-align: left;

      &:after{
        right:auto;
      }
    }
  }

  &.color-white{
    p{
      color: #fff;
    }
  }

  &.block-title--sm{
    margin-bottom: 30px;

    p{
      font-size: 30px;
      font-weight: 700;

      &:after{
        display: none;
      }
    }
  }

  &.block-title--none-uppercase{
    p{
      text-transform: none;
    }
  }
}

.block-desc{
  max-width: 660px;
  margin-bottom:30px;
  margin-left: auto;
  margin-right: auto;

  p{
    text-align: center;
    color: #555;;
  }
}



.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 55px);
}

.content {
  flex: 1 0 auto;
  position: relative;
}

.content__wrap{
  padding:50px 0;
}

.footer {
  flex: 0 0 auto;
}

.search-block{
  position: relative;

  input{
    width: 100%;
    height:40px;
    padding: 6px 50px 6px 20px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #ddd;
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
    font-size: 18px;
    background: transparent;

    &:focus{
      border-color: #b0a635;
      outline-offset: 0;
      //outline: 0;
      //box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px rgba(176,166,53,.6);
    }
  }

  button{
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    border: none;
    background: transparent;
    width: 50px;
    height: 40px;
    margin:auto;
    line-height: 45px;
    padding: 0;

    &:focus{
      outline: none;
    }
  }
}

.load-more {
  text-align: center;
  width:100%;

  a{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: map_get($colors, 'gold');
    padding-right:20px;
    text-decoration: none;
    transition: .2s ease-in-out;

    &:hover{
      transform: scale(1.1);
      i{
        transform: rotate(-90deg);
      }
    }

    i{
      position: absolute;
      top:0;
      bottom:0;
      right:0;
      margin: auto;
      transition: .2s ease-in-out;
    }
  }
}

.social-progress-bar{
  .flex-container{
    justify-content: space-between;
    align-items: center;
  }

  span{
    color: #fff;
    padding:0 10px;
    min-width:50px;
    display: flex;
    align-items: center;
    min-width:80px;
    width:100%;

    //&:first-child{
    //  background: map-get($colors,'gold');
    //}

    //&:nth-child(2){
    //  background: #000;
    //}

    //&:nth-child(3){
    //  background: map-get($colors,'gold');
    //}

    &.social-progress-bar--red{
      background: map_get($colors, 'red');
    }

    &.social-progress-bar--black{
      background: #000;
    }

    &.social-progress-bar--gold{
      background: map_get($colors, 'gold');
    }

    &.social-progress-bar--blue{
      background: map_get($colors, 'blue');
    }

    &.social-progress-bar--dark-blue{
      background: map_get($colors, 'dark-blue');
    }

    i{
      margin-right:10px;
    }

    em{
      font-style: normal;
      color: #fff;
      display: inline-block;
      vertical-align: middle;
    }
  }


  ul{
    padding: 0;
    margin: 0;
    list-style: none;

    li{

      display: inline-block;
      margin-right:-4px;
    }
  }
}

.tooltip-wrap{
  position: relative;
}

.tooltip__title{
  position: absolute;
  right:-120px;
  top:50%;
  transform: translate(0, -50%);
  color: map-get($colors, 'gold');
  font-size: 20px;
  font-weight:bold;
  text-transform: uppercase;
  cursor: pointer;

  &:hover{
    ~ .tooltip__text {
      opacity: 1; /* Показываем его */
      visibility: visible;
    }
  }
}

.tooltip__text {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px 8px 8px 0px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: #FFF;
  opacity: 0;
  padding: 10px 20px;
  position: absolute;
  bottom: 120%;
  left: 0;
  font-size: 16px;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  z-index: 5;

  &:after{
    content: '';
    position: absolute;
    left:0;
    bottom:-10px;
    border-left: 10px solid rgba(0, 0, 0, 0.8);
    border-bottom: 10px solid transparent;

  }
}


.user-info{
  display: flex;
  align-items: center;
  margin:6px 0;

  &:hover{
    .user-info__avatar{
      border: 2px solid map_get($colors, 'gold');
    }
  }

  .button-circle__add{
    margin-right:10px;
  }

  span{
    position: relative;
    margin-right:18px;
    font-size: 20px;
    text-transform: uppercase;

    &:after{
      content: '';
      position: absolute;
      top:0;
      bottom:0;
      right:-10px;
      width:2px;
      height:18px;
      margin: auto;
      background: map_get($colors, 'gold');
    }

    &:last-child{
      margin-right:0;

      &:after{
        display: none;
      }
    }
  }
}

.user-info__avatar{
  @extend .header__user-avatar;
  margin-right: 10px;
}

.avatar-round-34{
  @extend .header__user-avatar;
}

.avatar-round-120{
  @extend .header__user-avatar;
  width: 120px !important;
  height: 120px !important;
  margin: auto;
}

.user-profile-bar__search{
  display: flex;
  align-items: center;
  margin:5px 0 6px;
  height: 40px;

  .search-prev{
    font-size: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;

    .icon{
      margin-left:10px;
    }
  }

  form{
    overflow: hidden;
    width:0;
    transition: .2s ease-in-out;
  }

  .search-block{
    padding-top:1px;
  }

  .icon-close-menu{
    display: none;
    position: relative;
    margin-left:10px;
    cursor: pointer;

    &:before,
    &:after{
      background: #000;
    }
  }
}

.info-summary{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  display: table;
  width:100%;
  border-collapse: collapse;

  &.item-white{
    .info-summary__item{
      color: #fff;
    }
  }

  &.item-border--white{
    .info-summary__item-title{
      &:before,
      &:after{
        border-right-color: #fff;
      }
    }
  }

  &.item-border--red{
    .info-summary__item-title{
      &:before,
      &:after{
        border-right-color: map-get($colors, 'red');
      }
    }
  }

  &.item-border--turquoise{
    .info-summary__item-title{
      &:before,
      &:after{
        border-right-color: map_get($colors, 'turquoise');
      }
    }
  }

  &.item-border--black{
    .info-summary__item-title{
      &:before,
      &:after{
        border-right-color: #000;
      }
    }
  }
}

.info-summary__item{
  width: 25%;
  text-align: center;
  display: table-cell;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;


  //&:first-child{
  //  .info-summary__item-title{
  //    &:before,
  //    &:after{
  //      border-right-color: map-get($colors, 'gold');
  //    }
  //  }
  //}

  span{
    display: block;
    text-align: center;
    padding: 0 10px;
  }
}

.info-summary__item-title{
  font-size: 40px;
  line-height: 1;
  font-weight:700;
  display: block;
  margin-bottom: 10px;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    top:0;
    bottom: 0;
    left:-4px;
    border-right-width:4px;
    border-right-style: solid;
    border-right-color: map-get($colors, 'gold');
  }

  &:after{
    content: '';
    position: absolute;
    top:0;
    bottom: 0;
    right:-4px;
    border-right-width:4px;
    border-right-style: solid;
    border-right-color: map-get($colors, 'gold');
  }
}

.info-summary__item-desc{
  text-transform: uppercase;
}

.info-summary__additional{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
      position: relative;
      margin-right: 40px;
      display: inline-block;
      padding-left: 35px;
      text-transform: uppercase;
      font-weight: 600;

      i{
        position: absolute;
        top:0;
        left:0;
      }
    }
  }
}

.spec-half{
  display: flex;
  min-height: 380px;
  align-items: center;
}

.spec-half--img-left{
  .spec-half__right{
    width: 100%;
    margin-left: 34%;
  }

  .spec-half__wrap{
    max-width:364px;
  }

  .spec-half__left{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.spec-half--img-right{
  .spec-half__left{
    width:40%;
  }

  .spec-half__wrap{
    max-width:364px;
  }

  .spec-half__right{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 48%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 1;
  }
}


.spec-half__img{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  &:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: #000;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
  }
}

.owl-carousel{
  &.nav-big-center{
    .owl-nav{
      position: absolute;
      top:50%;
      left:0;
      right:0;
      transform: translate(0, -50%);
      margin-top: -28px;
    }

    .owl-prev,
    .owl-next{
      position: absolute;
      top:0;
      opacity: 0.7;
      transition: .2s ease-in-out;

      &:hover{
        opacity: 1;
      }
    }

    .owl-prev{
      left:15px;
    }

    .owl-next{
      right:15px;
    }
  }

  &.with-add-block{
    .owl-item{
      display: flex;
      align-self: stretch;
    }

    .owl-stage{
      display: flex;
      align-self: stretch;
    }

    .slider-item{
      display: flex;
      //height: 100%;
      width:100%;
      background: #ddd;
      justify-content: center;
      align-items: center;

      &.empty{
        a{
          width: 90px;
          height: 90px;
          border: 2px solid #fff;
        }
      }
    }
  }
}

.user-social-bar{
  margin:6px 0;

  ul{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    li{
      font-size: 20px;
      margin-right:15px;
      display: flex;
      align-items: center;

      i{
        margin-right:6px;
      }

      &:last-child{
        margin-right:0;
      }
    }
  }
}

.page-note{
  font-size: 14px;
}

.button-back{
  position: relative;
  height: 47px;
}

.page-step-back{
  background: #000;
  padding:10px 20px 10px 20px;
  text-transform: uppercase;
  position: fixed;
  left:0;
  top:110px;
  z-index: 500;

  a{
    color: #fff;

    &:hover{
      text-decoration: none;
    }
  }

  span{
    display: inline-block;
    margin-left:10px;
  }

  i, span{
    vertical-align: middle;
  }
}

.search-tooltips {
  background-color: #fff;
  border: 1px solid #000;
  width: 20%;
  margin-left: 40%;
  display: none;
}

.content__empty{
  text-align: center;
  color: #888;
  padding:49px 0;
}

.nav-tabs{
  border-bottom: none;
  background: map_get($colors, 'gold');

  li{
    float: left;
    margin-bottom:0;

    &:focus{
      outline: none;
      background: #fff;
    }

    a{
      color: #fff;
      text-transform: uppercase;
      border-width:1px;
      border-style: solid;
      border-color: transparent;
      transition: .2s ease-in-out;
      line-height: 1.42857143;

      &:hover,
      &:focus{
        border-color: map_get($colors, 'gold');
        background: map_get($colors, 'grey');
        outline: none;
      }
    }

    &.active{
      background: #fff;

      a{
        color: map_get($colors, 'gold');
        border-color: map_get($colors, 'gold');
      }
    }
  }
}

.tab-content{

}

.nav-tabs>li>a {
  margin-right: 0;
  border: 1px solid transparent;
  border-radius: 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: map_get($colors, 'gold');
  cursor: default;
  background-color: #fff;
  border: 1px solid map_get($colors, 'gold');
}

.dropdown-menu {
  font-size: 18px;
  right: 50%;
  top: 35px;
  transform: translate(-70%, 0);
  padding: 10px 15px !important;
  margin-top: 10px;
  width: 100%;
  min-width: 280px;
  &:before{
    content: '';
    border: solid 20px #b1b1b1;
    border-top: solid 10px transparent;
    border-bottom: solid 10px #fefefe;
    border-right: solid 10px transparent;
    border-left: solid 10px transparent;
    position: inherit;
    bottom: 100%;
    transform: translateX(93%);
    right: 50%;
  }
}

.alert{
  margin-bottom: 0;
  padding: 20px;

  ul{
    margin:0;
    padding:0;
    list-style: none;
  }

  p{
    text-align: center;
  }

  &.alert-info{
    color: map_get($colors, 'gold');
    background-color: #ffffff;
    border-color: map_get($colors, 'gold');
  }
}

.badge{
 margin-left: 10px;
}

.badge-inform{
  color: #b7b7b7;
  line-height: 1.2;
}

.single-task{
  &:focus{
    outline: none;
  }
}

.owl-nav--center{
  .owl-nav{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
  }

  .owl-prev,
  .owl-next{
    position: absolute;
    top: 0;
    opacity: 0.7;
    transition: .2s ease-in-out;
  }

  .owl-prev{
    left: -30px;
  }

  .owl-next{
    right: -30px;
  }
}

//===================//
// CAMPAIGNS
//==================//
.page-filter__item{
  .dropdown-menu{
    background-color: red;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0);
    -ms-transform: translate(0%, 0);
    &:before{
      content: none;
    }
  }
}

#search-top-slider{
  img{
    height:100%;
    object-fit: cover;
  }
}
.gallery__description{
  font-weight: 100;
  padding-top: 0px;
  padding-bottom: 50px;
  font-size: 29px;
  text-transform: uppercase;
}

.progress__btn{
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 100;
  height: 58px;
  line-height: 58px;
  border: 1px silver solid;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  width: 350px;
  border-radius: 40px;
  padding-left: 17px;
  padding-right: 18px;
  margin-right: 40px;
  &>i{
    font-size: 27px;
    color: red;
    margin-right: 10px;
  }
  &:hover{
    transition: ease .4s;
    border: 3px solid red;
    cursor: pointer;

  }
}

.inline-block{
  display: inline-block;
}

.options{
  font-size: 0;
  margin-top: 50px;
  margin-bottom: 60px;
}

.options__list{
  display: inline-block;
  margin-right: 0px;
}
.options__item{
  display: inline-block;
  // margin-right: 40px;
  // margin-left: 40px;
  font-size: 0px;
  height: 30px;
  font-weight: 500;
  border-right: 2px silver solid;
  &:last-child{
    border-right: 0;
  }
  &:first-child{
    margin-left: -20px;
  }
  &:last-child{
    margin-right: -20px;
  }

}
.options__link{
  color: black;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 29px;
  line-height: 29px;
  font-weight: 100;
  &:hover{
    transition: ease .2s;
    text-decoration: none;
    color: red;
  }
}

.invite{
  #invite{
    color: red;
  }
}
.invited{
  #invited{
    color: red;
  }
}
.review{
  #review{
    color: red;
  }
}
.shortlisted{
  #shortlisted{
    color: red;
  }
}



.athletes-block{
	text-transform: uppercase;
	padding-top: 0px;
	font-size: 29px;
  font-weight: 100;
	margin: 0;
	padding-bottom: 60px;
  margin-bottom: 60px;
	border-bottom: 1px silver solid;
  &__counter{
    margin: 0px;
  }
	&__panel{
		padding-top: 45px;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
  }
	&__item{
		width: 88px;
		height: 88px;
  }
	&__link{
		color: white;
  }
	&__active{

  }
  .button-circle__add{
    width: 90px;
    height: 90px;
    &__active{
      background-color: red;
    }
  }
}
