.button-circle__add{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #c9c8c8;
  transition: .2s ease-in-out;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:50%;
    height:2px;
    margin: auto;
    background: #fff;
  }

  &:after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:50%;
    height:2px;
    margin: auto;
    background: #fff;
    transform: rotate(90deg);
  }

  &:hover{
    text-decoration: none;
    color: #fff;
    transform: scale(1.1) rotate(270deg);
  }

  &.button-lg{
    width:45px;
    height:45px;
    font-size: 30px;
  }

  &.button-sm{
    width:20px;
    height:20px;
  }
}

.btn{
  display: inline-block;
  text-align: center;
  min-width:104px;
  padding:5px 20px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 45px;
  transition: .2s ease-in-out;


  &:hover{
    text-decoration: none;
  }

  &.btn-gold{
    background: map_get($colors, 'gold');
    border: 1px solid map_get($colors, 'gold');

    &:hover{
      background: #fff;
      color: map_get($colors, 'gold');
    }
  }
}


