::-webkit-input-placeholder {color:#888; font-size: 16px;text-transform: uppercase}
::-moz-placeholder          {color:#888; font-size: 16px;text-transform: uppercase}
:-moz-placeholder           {color:#888; font-size: 16px;text-transform: uppercase}
:-ms-input-placeholder      {color:#888; font-size: 16px;text-transform: uppercase}



input[type='text']{
  color: #000;
}


.order-form{
  input{

  }

  button{

  }
}