::-webkit-input-placeholder {color:#888; font-size: 16px;text-transform: uppercase}
::-moz-placeholder          {color:#888; font-size: 16px;text-transform: uppercase}
:-moz-placeholder           {color:#888; font-size: 16px;text-transform: uppercase}
:-ms-input-placeholder      {color:#888; font-size: 16px;text-transform: uppercase}

input[type='text']{
  color: #000;
}

.form-default{
  input{
    height: 40px;
    border: 1px solid #D5D7D7;
    border-radius: 40px;
    padding: 6px 20px;
    width:100%;
  }

  .form-group{
    margin-bottom:45px;
    position: relative;

    &:last-child{
      margin-bottom:0;
    }

    label{
      display: block;
      margin-left:20px;
      font-weight: 100;
      text-transform: uppercase;
    }
  }

  .select-block{
    position: relative;
    background-color: #ececec;
    height: 40px;
    border-radius:40px;

    &:after{
      content: '';
      position: absolute;
      top:0;
      right:5px;
      bottom: 0;
      @include sprite($arrow-down);
      margin:auto;
      z-index: 0;
    }

    select{
      @extend input;
      position: relative;
      z-index: 1;
      background: transparent;
      color: #888;
      padding-right:40px;
    }
  }

  textarea{
    @extend input;
    border-radius: 20px;
    resize: none;
  }
}

.form-row{
  display: flex;
  justify-content: space-between;

  .form-group{
    flex-grow: 1;

    &:first-child{
      margin-right:30px;
    }
  }
}

.upload-block{
  @extend input;
  background-color: #ececec;
  position: relative;
  overflow: hidden;
  font-size:18px;          /* example */
  z-index: 1;
  padding:0 !important;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:after{
    content: '';
    position: absolute;
    top:0;
    right:5px;
    bottom: 0;
    @include sprite($arrow-down);
    margin:auto;
    z-index: -1;
  }


  button,
  .file_upload > div{
    cursor: pointer
  }

  > button{
    float: right;
    width: 8em;            /* example */
    height: 100%
  }

  > div{
    padding: 6px 20px;
    color: #888;
    width:100%;
  }

  @media only screen and ( max-width: 500px ){  /* example */
    > button{
      width: 100%
    }
  }

  input[type=file]{
    position: absolute;
    top: 0;
    visibility: hidden
  }

  &.focus{
    box-shadow: 0 0 5px rgba(0,30,255,0.4)
  }

  > button{
    background: #7300df;
    transition: background 0.2s;
    border: 1px solid rgba(0,0,0,0.1);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    text-shadow: #6200bd 0 -1px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
  }
  &:hover {
    > button{
      background: #6200bd;
      text-shadow: #5d00b3 0 -1px 0
    }
  }

  &:active {
    > button{
      background: #5d00b3;
      box-shadow: 0 0 3px rgba(0,0,0,0.3) inset
    }
  }
}

.registration-form{
  max-width: 600px;
  margin: 50px auto;

  .button-block{
    margin-top: 50px;
    text-align: center;

    &.two-buttons{
      .btn:last-child{
        margin-left:35px;
      }
    }
  }
}

.registration-form__tabs{
  position: relative;
  overflow: hidden;

  ul{
    margin: 0 -50px 50px;
    padding:0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    li{
      position: relative;
      width:25%;
      text-align: center;

      &:first-child{
        &:after{
          display: none;
        }
      }

      &:before{
        content: '';
        position: absolute;
        left:0;
        right:0;
        top:0;
        width:20px;
        height:20px;
        margin:auto;
        background: #D1D2D4;
        border-radius: 50px;
      }

      &:after{
        content: '';
        position: absolute;
        right: 55%;
        top: 8px;
        width: 100%;
        height: 4px;
        background: #D1D2D4;
        z-index: -1;
      }

      a{
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        color: #d1d2d4;
        display: block;
        padding:25px 0 0;
        position: relative;
      }

      &.active,&.complete{
        &:before{
          background: map-get($colors, 'gold');
        }

        &:after{
          background: map-get($colors, 'gold');
        }

        a{
          color: map-get($colors, 'gold');
        }
      }
    }
  }

  .bottom-line{
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }

  .bottom-line__triangle{
    width: 10px;
    height: 10px;
    overflow: hidden;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    &:before{
      content: '';
      position: absolute;
      top: -5px;
      left: 0;
      right: 0;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      border: 1px solid #ddd;
      background: #fff;
      z-index: 1;
    }
  }
}

.form__title{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.details-form{
  @extend .registration-form;

  .button-block {
    margin-top: 5px;
  }
}
