.icon{
  display: inline-block;

  &.icon-lock{
    @include sprite($lock);
  }

  &.icon-arrow-down{
    @include sprite($arrow-down);
  }

  &.icon-arrow-down-circle-tr{
    @include sprite($arrow-down-circle-tr);
  }

  &.icon-register{
    @include sprite($register);
  }

  &.icon-profile{
    @include sprite($profile);
  }

  &.icon-connect{
    @include sprite($connect);
  }

  &.icon-arrow-right{
    @include sprite($arrow-right);
  }

  //bar-icons

  &.bar-icon1{
    @include sprite($bar-icon1);
  }

  &.bar-icon2{
    @include sprite($bar-icon2);

  }

  &.bar-icon3{
    @include sprite($bar-icon3);
  }

  //filter icons

  &.icon-search{
    @include sprite($search);
  }

  //slider arrow

  &.icon-calendar-left{
    @include sprite ($arrow-left-circle);
  }

  &.icon-calendar-right{
    @include sprite ($arrow-right-circle);
  }

  &.icon-circle-add{
    @include sprite ($plus-circle);
  }

  &.icon-circle2-add{
    @include sprite ($plus-circle2);
  }

  &.icon-close-menu{
    width:40px;
    height: 40px;

    //&:hover{
    //  &:before{
    //    transform: rotate(-135deg);
    //  }
    //
    //  &:after{
    //    transform: rotate(135deg);
    //  }
    //
    //}

    &:before{
      content: '';
      position: absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      width:40px;
      height: 3px;
      margin:auto;
      background: #fff;
      transform: rotate(45deg);
      transition: .2s;
    }

    &:after{
      content: '';
      position: absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      width:40px;
      height: 3px;
      margin:auto;
      background: #fff;
      transform: rotate(-45deg);
      transition: .2s;
    }
  }
}