@media (max-width: 767px) {
  .header{
    padding: 10px 0 0;

    .flex-container{
      display: block;

      &:after,
      &:before{
        content: '';
        display: block;
        clear: both;
      }
    }

    .mob-menu-toggle{
      display: block;
      margin-bottom:10px;
    }

    .menu-bar{
      //display: none;
      position: absolute;
      left:-100%;
      top: 0;
      width:100%;
      height:10000000%;
      flex-wrap: wrap;
      background: #000;
      padding: 70px 20px 20px 20px;
      align-content: flex-start;
      display: flex;
      transition: .3s ease-in-out;
      z-index: 5;

      .top-nav{
        order:2;
        width:100%;

        li{
          display: block;
          text-align: center;

          a{
            padding:0;
            display: inline-block;
            position: relative;
            margin-bottom: 30px;
            text-align: center;

            &:after,
            &:before{
              bottom:0;
            }
          }
        }
      }

      .sing{
        order:1;
        width:100%;
        text-align: center;
        margin-bottom: 30px;
      }

      .icon-close-menu{
        display: block;
      }
    }
  }

  .header__user-bar {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .user-profile-bar{
    .user-status{
      display: none;
      justify-content: flex-start;
    }
  }

  .user-shared-count {
    display: none;
    ul {
      justify-content: flex-start;
    }
  }

  .info-summary{
    flex-direction: column;
  }

  .info-summary__item {
    width: 100%;
    margin-bottom: 30px;
    background: #b0a635;
    padding: 15px 0;
    color: #fff;

    &:last-child{
      margin-bottom:0;
    }
  }

  .info-summary {
    &.item-border--red {
      .info-summary__item {
        background: rgb(210, 76, 72);
      }
    }
  }

  .section-3{
    padding: 50px 0;

    .spec-half__img{
      border-left: 2px solid #000;
    }
  }

  .footer{
    .flex-container{
      flex-wrap: wrap;
    }

    .footer-nav{
      width:100%;
      margin-bottom: 40px;

      li{
        text-align: center;
      }
    }

    .footer-social{
      width:100%;
      text-align: center;

      h4{
        display: none;
      }
    }

    .footer-social__links{
      justify-content: center;
      margin-bottom: 6px;
    }

    .footer-copyright{
      width:100%;
      text-align: center;
    }

    .footer__terms{
      text-align: center;
      width: 100%;
    }
  }

  .content__wrap{
    padding:20px 0;
  }

  .page__user-bar{

    .flex-container {
      flex-wrap: wrap;
    }

    .page-name{
      width:100%;
      margin-bottom: 8px;
    }

    .user-bar{
      width:100%;
      background: #d24c48;
      padding: 10px;

      ul{
        li{
          margin: 16px 10px 16px 0;
        }
      }
    }
  }

  .page-filter{
    .search-block{
      min-width: 0;
    }

    .form-item{
      margin-right: 20px;

      &:first-child{
        width:100%;
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }

  .applications{
    padding-bottom:40px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom:40px;

    &:last-child{
      padding-bottom:0;
      border-bottom: none;
      margin-bottom:0;
    }
  }

  .application__head{
    display: none;

    div{
      margin-right: 6px;


      &:nth-child(1){
        width:22%;
      }

      &:nth-child(2){
        width:44%;
      }

      &:nth-child(3){
        width:11%;
      }

      &:nth-child(4){
        width:8%;
      }

      &:nth-child(5){
        width:11%;
      }

      &:nth-child(6){
        width:4%;
      }

      &:last-child{
        margin-right: 0;
      }
    }
  }

  .application__item-add{
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    width:25px;
    height:25px;
    margin:auto;
    border-radius: 50%;
    background: #c9c8c8;
    font-family: monospace;
    font-size: 20px;
    color:#fff;
    line-height: 25px;
    text-align: center;

    &:hover{
      text-decoration: none;
    }
  }

  .application__status{
    display: inline-block;
    vertical-align: bottom;
  }

  .application__item{
    //@extend .application__head;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;

    &:last-child{
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }

    div{
      width: calc(100% - 100px) !important;
      position: relative;
      margin-right:0;
      margin-bottom: 10px;
      margin-left:100px;

      &:before{
        position: absolute;
        left:-100px;
        top:0;
        color: #b9b9b9;
      }

      &:last-child{
        margin-bottom: 0;
      }


      &:nth-child(1){
        &:before{
          content: 'brand';
        }
      }

      &:nth-child(2){
        &:before{
          content: 'campaign';
        }
      }

      &:nth-child(3){
        &:before{
          content: 'amount';
        }
      }

      &:nth-child(4){
        &:before{
          content: 'tasks';
        }
      }

      &:nth-child(5){
        &:before{
          content: 'completion';
        }
      }

      &:nth-child(6){
        text-align: left;

        &:before{
          content: 'status';
        }
      }
    }
  }

  .athletes-list__item {
    width: 45%;
    margin-bottom: 65px;
    min-height: 375px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    img{
      width: 375px;
    }
  }

  .page-calendar__slider{
    .owl-carousel{
      .slider__pager{
        width: 45px;
      }
      //.owl-stage-outer{
      //  padding:0;
      //}
    }
  }

  .page-analytics__block {
    margin-bottom: 50px;
  }

  .page-analytics__block {
    >.flex-container {
      flex-direction: column;
    }
  }

  .page-analytics__block-title{
    margin-bottom:20px;
  }

  .page-analytics__item{
    width:auto;
    margin-bottom: 10px;
    border-left: 5px solid map_get($colors, 'gold');
    border-right: 5px solid map_get($colors, 'gold');
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(176, 166, 53, 0.3);

    &:last-child{
      margin-bottom: 0;
    }

    &:first-child{
      p{
        border-left:none;
      }
    }

    p{
      border-right: none;
    }
  }

  .social-progress-bar{
    .flex-container{
      align-items: flex-start;
      flex-direction: column;
    }

    span{
      margin-bottom:4px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .page-massages__nav{
    margin-bottom:30px;
    padding-right:0;

    ul{
      li{
        margin-bottom:0;
      }
    }
  }

  .page-massages__list {
    width: 100%;
    border: none;
    padding: 0;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
    position: relative;

    &.open{
      .collapse-toggle{
        transform: rotate(180deg);
      }
    }

    .collapse-toggle{
      display: block;
      text-align: center;
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
      margin: auto;
      transition: .2s ease-in-out;
    }

    .collapse-wrap{
      overflow: hidden;
      height: 0;
      transition: .2s ease-in-out;
      //margin-bottom: 30px;
    }
  }

  .page-massages__filter{
    margin-bottom:15px;
  }

  .page-massages__list-item{
    &:last-child{
      margin-bottom:30px;
    }
  }

  .page-massages__view {
    width: 100%;
    padding: 0;
  }

  .spec-half {
    flex-direction: column;
  }

  .spec-half--img-right{
    .spec-half__right{
      position: relative;
      width:100%;
      flex-direction: column;
    }

    .spec-half__img{
      min-height: 300px;
      margin-bottom: 15px;
    }

    .spec-half__left{
      width: 100%;
    }

    .spec-half__wrap {
      max-width: 100%;
    }
  }

  .spec-half--img-left{
    .spec-half__right{
      position: relative;
      width:100%;
      flex-direction: column;
      margin-left: 0;
    }

    .spec-half__img{
      min-height: 300px;
      margin-bottom: 15px;
    }

    .spec-half__left{
      width: 100%;
      position: relative;
    }

    .spec-half__wrap {
      max-width: 100%;
    }
  }

  .profile-section1{
    >img {
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
    }
  }

  .profile-section3{
    .spec-half__left{
      margin-bottom:15px;
    }

    .spec-half__img{
      border: none;
    }
  }

  .profile__user-description{
    width:100%;
  }

  .profile-section9{
    .flex-container{
      flex-wrap: wrap;
    }

    .worked-with{
      width: 100%;
    }
  }

  .news__item{
    width:100%;
    border-bottom: 1px solid #ddd;
  }

  .tooltip__title {
    right: 0;
    top: -32px;
    transform: translate(0, 0);
  }

  .form__row{
    flex-direction: column;
    //margin-bottom:50px;

    .left-block{
      width:100%;
      margin-right:0;
    }

    .right-block{
      width:100%;
      margin-right:0;
    }

    //.form-group{
    //  &:first-child{
    //    margin-right:0;
    //  }
    //}
  }

  .registration-form__tabs{
    ul{
      margin: 0 0 50px;
    }
  }
}