@media (max-width: 992px) {
  .header {
    .top-nav{
      ul{
        text-align: left;
      }
      a{
        padding: 8px 20px;
      }
    }
  }

  .margin-top{
    padding-top: 47px;
  }

  .section-2 {
    .flex-container{
      flex-wrap: wrap;
    }
    .stats-item{
      width:100%;
      margin-bottom: 30px;
    }
  }

  .section-4{
    .how-item{
      width: 100%;
      margin-bottom: 30px;

      &:after{
        display: none;
      }
    }
  }

  .section-5{
    .order-form{
      .form-item{
        padding-right:0;
      }

      input{
        display: block;
        width:300px;
        margin: 0 auto 20px;
      }

      button{
        position: relative;
        display: block;
        width:300px;
        margin: auto;
      }
    }
  }

  .page__user-bar{
    background: linear-gradient(to right, #fff 0%, #fff 35%, #d24c48 35%, #d24c48 100%);
  }


  .athletes-list__item {
    margin-bottom: 35px;
  }

  .page-calendar__slider{
    width:100%;
    margin-bottom:30px;
  }

  .page-calendar__todo-list{
    padding-left:0;
  }

  .page-massages{
    .flex-container{
      flex-wrap: wrap;
    }
  }

  .page-massages__nav{
    width:100%;
    margin-bottom: 10px;

    ul{
      li{
        display: inline-block;
        margin-right: 16px;
      }
    }
  }

  .page-massages__list{
    width:45%;
  }

  .page-massages__view{
    width:55%;
  }

  .profile-section1 {
    min-height: 450px;
  }

  .worked-with {
    width: 70%;
  }

  .worked-with__item {
    width: 33%;
    text-align: center;
  }

  .user-status {
    a {
      margin-right: 16px;
    }
  }

  .block-title{
    p{
      font-size: 40px;
    }
  }
}