@media (max-width: 550px) {
  .athletes-list__item {
    width: 100%;
    min-height: 430px;
    max-width: 375px;
    margin: 0 auto 35px !important;

    img{
      width: 375px;
    }
  }

  .page-calendar__slider{
    .owl-carousel{
      .slider__pager {
        width: 35px;

        div{
          text-align: left;
        }
      }

      .owl-stage-outer{
        padding:0 10px;
      }

      .item{

        table{
          th, td{
            padding: 12px 7px;
          }

          td{
            &.today{
              &:before{
                width: 32px;
                height: 32px;
              }
            }
          }
        }
      }
    }
  }

  .page-filter{
    .flex-container{
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .page-filter__item{
    margin-right: 0;

    &:after {
      display: none;
    }
  }

  .footer{
    padding-top:20px;

    .footer-nav {
      margin-bottom: 20px;
    }
  }

  .worked-with__item {
    width: 100%;
  }

  .profile-section1{
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 0;
    }

    .user-status,
    .info-summary, h1{
      position: relative;
    }

    h1{
      font-size: 50px;
    }
  }
}