@media (max-width: 1200px) {
  .athletes-list__item {
    width: 30%;
    margin-bottom: 45px;

    &:nth-child(4n+4) {
      margin-right: 30px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .profile-section1 {
    min-height: 600px;
  }

  .details-form{

  }

  .section-3 {
    .spec-half__img{
      p{
        position: absolute;
        top: 50%;
        left: 50%;
        bottom:auto;
        min-width:0;
        transform: translate(-50%, -50%) rotate(0deg);

        &:after{
          opacity: 1;
          transition: 1s, visibility 0s;
          visibility: visible;
          width:40px;
        }
      }

      &:hover{
        &:before{
          opacity: .5;
        }

        //p{
        //  position: absolute;
        //  top: 50%;
        //  left: 50%;
        //  bottom:auto;
        //  min-width:0;
        //  transform: translate(-50%, -50%) rotate(0deg);
        //
        //  &:after{
        //    opacity: 1;
        //    transition: 1s, visibility 0s;
        //    visibility: visible;
        //    width:40px;
        //  }
        //}
      }
    }
  }


}