@media (max-width: 1200px) {
  .athletes-list__item {
    width: 30%;
    margin-bottom: 45px;

    &:nth-child(4n+4) {
      margin-right: 30px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .profile-section1 {
    min-height: 600px;
  }

  .details-form{

  }
}