@media (max-width: 550px) {
  .athletes-list__item {
    width: 100%;
    min-height: 430px;
    max-width: 375px;
    margin: 0 auto 35px !important;

    img{
      width: 375px;
    }
  }

  .page-calendar__slider{

  }

  .progress_container{
    .page-filter__item{
      //margin-top: 0;
    }
    .search-block{
      min-width: 100%;
      margin-top: 20px;
    }
    .progress__btn{
      font-size: 18px;
      margin-right: 0;
    }
  }
  .options__item{
    width: 100%;
    &:nth-child(2n){
      padding-left: 0;
    }
    border-right: 0;
  }
  .athletes-list__item-desc{
    height: 430px;
    top: 330px;
  }

  #calendar{
    margin-left: 0;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
  }

  .fc-day-top {
    width: auto;
  }

  .page-calendar__add-event {
    right: 15px;
  }

  .page-filter__item {
    flex-wrap: wrap;

    .search-block{
      margin-bottom:30px;
    }
    .select-block {
      margin-right: 0;
    }
  }

  .footer{
    padding-top:20px;

    .footer-nav {
      margin-bottom: 20px;
    }
  }

  .worked-with__item {
    width: 100%;
  }

  .profile-section1{
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 0;
    }

    .user-status,
    .info-summary, h1{
      position: relative;
    }

    h1{
      font-size: 50px;
    }
  }

  .sponsor-info__meta{
    span{
      width: 100%;
      margin-right: 0;
    }
  }

  .registration-aside{
    flex-direction: column;
  }

  .btn-margin-x-md{
    margin: 0 0 20px;
    display: block;
    width: 100%;

    &:last-child{
      margin:0 0 0;
    }
  }

  .button-block{
    &.more-buttons{
      .btn{
        display: block;
        width: 100%;

        &:last-child{
          margin-left:0;
        }

        &:first-child{
          margin-bottom:20px;
        }
      }
    }
  }

  .blog-popular{
    &__item{
      width: 100%;
      float: none;
      margin-right: 0;
      margin-bottom: 30px;
      padding-bottom: 30px;
    }

    &__hr{
      margin-bottom: 20px;
    }
  }
  .info-summary__item{
    width: 25%;
    .info-summary__item-title{
      font-size: 22px;
      span{
        padding: 0 15px;
      }
    }
  }

  .campaigns-search .athletes-list__item-desc {
    top: 295px;
  }

  .campaigns-search .athletes-list .athletes-list__item{
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
  }


}
