// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-circle-tr-name: 'arrow-down-circle-tr';
$arrow-down-circle-tr-x: 337px;
$arrow-down-circle-tr-y: 93px;
$arrow-down-circle-tr-offset-x: -337px;
$arrow-down-circle-tr-offset-y: -93px;
$arrow-down-circle-tr-width: 14px;
$arrow-down-circle-tr-height: 14px;
$arrow-down-circle-tr-total-width: 405px;
$arrow-down-circle-tr-total-height: 313px;
$arrow-down-circle-tr-image: 'sprite.png';
$arrow-down-circle-tr: (337px, 93px, -337px, -93px, 14px, 14px, 405px, 313px, 'sprite.png', 'arrow-down-circle-tr', );
$arrow-down-circle-name: 'arrow-down-circle';
$arrow-down-circle-x: 351px;
$arrow-down-circle-y: 156px;
$arrow-down-circle-offset-x: -351px;
$arrow-down-circle-offset-y: -156px;
$arrow-down-circle-width: 53px;
$arrow-down-circle-height: 53px;
$arrow-down-circle-total-width: 405px;
$arrow-down-circle-total-height: 313px;
$arrow-down-circle-image: 'sprite.png';
$arrow-down-circle: (351px, 156px, -351px, -156px, 53px, 53px, 405px, 313px, 'sprite.png', 'arrow-down-circle', );
$arrow-down-hover-name: 'arrow-down-hover';
$arrow-down-hover-x: 164px;
$arrow-down-hover-y: 269px;
$arrow-down-hover-offset-x: -164px;
$arrow-down-hover-offset-y: -269px;
$arrow-down-hover-width: 30px;
$arrow-down-hover-height: 30px;
$arrow-down-hover-total-width: 405px;
$arrow-down-hover-total-height: 313px;
$arrow-down-hover-image: 'sprite.png';
$arrow-down-hover: (164px, 269px, -164px, -269px, 30px, 30px, 405px, 313px, 'sprite.png', 'arrow-down-hover', );
$arrow-down-name: 'arrow-down';
$arrow-down-x: 302px;
$arrow-down-y: 213px;
$arrow-down-offset-x: -302px;
$arrow-down-offset-y: -213px;
$arrow-down-width: 30px;
$arrow-down-height: 30px;
$arrow-down-total-width: 405px;
$arrow-down-total-height: 313px;
$arrow-down-image: 'sprite.png';
$arrow-down: (302px, 213px, -302px, -213px, 30px, 30px, 405px, 313px, 'sprite.png', 'arrow-down', );
$arrow-left-circle-name: 'arrow-left-circle';
$arrow-left-circle-x: 297px;
$arrow-left-circle-y: 193px;
$arrow-left-circle-offset-x: -297px;
$arrow-left-circle-offset-y: -193px;
$arrow-left-circle-width: 20px;
$arrow-left-circle-height: 20px;
$arrow-left-circle-total-width: 405px;
$arrow-left-circle-total-height: 313px;
$arrow-left-circle-image: 'sprite.png';
$arrow-left-circle: (297px, 193px, -297px, -193px, 20px, 20px, 405px, 313px, 'sprite.png', 'arrow-left-circle', );
$arrow-right-circle-name: 'arrow-right-circle';
$arrow-right-circle-x: 277px;
$arrow-right-circle-y: 193px;
$arrow-right-circle-offset-x: -277px;
$arrow-right-circle-offset-y: -193px;
$arrow-right-circle-width: 20px;
$arrow-right-circle-height: 20px;
$arrow-right-circle-total-width: 405px;
$arrow-right-circle-total-height: 313px;
$arrow-right-circle-image: 'sprite.png';
$arrow-right-circle: (277px, 193px, -277px, -193px, 20px, 20px, 405px, 313px, 'sprite.png', 'arrow-right-circle', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 351px;
$arrow-right-y: 294px;
$arrow-right-offset-x: -351px;
$arrow-right-offset-y: -294px;
$arrow-right-width: 50px;
$arrow-right-height: 14px;
$arrow-right-total-width: 405px;
$arrow-right-total-height: 313px;
$arrow-right-image: 'sprite.png';
$arrow-right: (351px, 294px, -351px, -294px, 50px, 14px, 405px, 313px, 'sprite.png', 'arrow-right', );
$arrow-bottom-name: 'arrow_bottom';
$arrow-bottom-x: 351px;
$arrow-bottom-y: 103px;
$arrow-bottom-offset-x: -351px;
$arrow-bottom-offset-y: -103px;
$arrow-bottom-width: 53px;
$arrow-bottom-height: 53px;
$arrow-bottom-total-width: 405px;
$arrow-bottom-total-height: 313px;
$arrow-bottom-image: 'sprite.png';
$arrow-bottom: (351px, 103px, -351px, -103px, 53px, 53px, 405px, 313px, 'sprite.png', 'arrow_bottom', );
$bar-icon1-name: 'bar-icon1';
$bar-icon1-x: 376px;
$bar-icon1-y: 209px;
$bar-icon1-offset-x: -376px;
$bar-icon1-offset-y: -209px;
$bar-icon1-width: 25px;
$bar-icon1-height: 55px;
$bar-icon1-total-width: 405px;
$bar-icon1-total-height: 313px;
$bar-icon1-image: 'sprite.png';
$bar-icon1: (376px, 209px, -376px, -209px, 25px, 55px, 405px, 313px, 'sprite.png', 'bar-icon1', );
$bar-icon2-name: 'bar-icon2';
$bar-icon2-x: 351px;
$bar-icon2-y: 209px;
$bar-icon2-offset-x: -351px;
$bar-icon2-offset-y: -209px;
$bar-icon2-width: 25px;
$bar-icon2-height: 55px;
$bar-icon2-total-width: 405px;
$bar-icon2-total-height: 313px;
$bar-icon2-image: 'sprite.png';
$bar-icon2: (351px, 209px, -351px, -209px, 25px, 55px, 405px, 313px, 'sprite.png', 'bar-icon2', );
$bar-icon3-name: 'bar-icon3';
$bar-icon3-x: 97px;
$bar-icon3-y: 93px;
$bar-icon3-offset-x: -97px;
$bar-icon3-offset-y: -93px;
$bar-icon3-width: 25px;
$bar-icon3-height: 55px;
$bar-icon3-total-width: 405px;
$bar-icon3-total-height: 313px;
$bar-icon3-image: 'sprite.png';
$bar-icon3: (97px, 93px, -97px, -93px, 25px, 55px, 405px, 313px, 'sprite.png', 'bar-icon3', );
$comment-name: 'comment';
$comment-x: 177px;
$comment-y: 213px;
$comment-offset-x: -177px;
$comment-offset-y: -213px;
$comment-width: 56px;
$comment-height: 51px;
$comment-total-width: 405px;
$comment-total-height: 313px;
$comment-image: 'sprite.png';
$comment: (177px, 213px, -177px, -213px, 56px, 51px, 405px, 313px, 'sprite.png', 'comment', );
$connect-name: 'connect';
$connect-x: 237px;
$connect-y: 93px;
$connect-offset-x: -237px;
$connect-offset-y: -93px;
$connect-width: 100px;
$connect-height: 100px;
$connect-total-width: 405px;
$connect-total-height: 313px;
$connect-image: 'sprite.png';
$connect: (237px, 93px, -237px, -93px, 100px, 100px, 405px, 313px, 'sprite.png', 'connect', );
$down-arrow-name: 'down-arrow';
$down-arrow-x: 100px;
$down-arrow-y: 269px;
$down-arrow-offset-x: -100px;
$down-arrow-offset-y: -269px;
$down-arrow-width: 32px;
$down-arrow-height: 32px;
$down-arrow-total-width: 405px;
$down-arrow-total-height: 313px;
$down-arrow-image: 'sprite.png';
$down-arrow: (100px, 269px, -100px, -269px, 32px, 32px, 405px, 313px, 'sprite.png', 'down-arrow', );
$icon-hs-white-name: 'icon-hs-white';
$icon-hs-white-x: 97px;
$icon-hs-white-y: 148px;
$icon-hs-white-offset-x: -97px;
$icon-hs-white-offset-y: -148px;
$icon-hs-white-width: 30px;
$icon-hs-white-height: 38px;
$icon-hs-white-total-width: 405px;
$icon-hs-white-total-height: 313px;
$icon-hs-white-image: 'sprite.png';
$icon-hs-white: (97px, 148px, -97px, -148px, 30px, 38px, 405px, 313px, 'sprite.png', 'icon-hs-white', );
$icon-instagram-white-name: 'icon-instagram-white';
$icon-instagram-white-x: 233px;
$icon-instagram-white-y: 213px;
$icon-instagram-white-offset-x: -233px;
$icon-instagram-white-offset-y: -213px;
$icon-instagram-white-width: 33px;
$icon-instagram-white-height: 33px;
$icon-instagram-white-total-width: 405px;
$icon-instagram-white-total-height: 313px;
$icon-instagram-white-image: 'sprite.png';
$icon-instagram-white: (233px, 213px, -233px, -213px, 33px, 33px, 405px, 313px, 'sprite.png', 'icon-instagram-white', );
$icon-plus-white-name: 'icon-plus-white';
$icon-plus-white-x: 132px;
$icon-plus-white-y: 269px;
$icon-plus-white-offset-x: -132px;
$icon-plus-white-offset-y: -269px;
$icon-plus-white-width: 32px;
$icon-plus-white-height: 32px;
$icon-plus-white-total-width: 405px;
$icon-plus-white-total-height: 313px;
$icon-plus-white-image: 'sprite.png';
$icon-plus-white: (132px, 269px, -132px, -269px, 32px, 32px, 405px, 313px, 'sprite.png', 'icon-plus-white', );
$icon-twitter-white-name: 'icon-twitter-white';
$icon-twitter-white-x: 266px;
$icon-twitter-white-y: 213px;
$icon-twitter-white-offset-x: -266px;
$icon-twitter-white-offset-y: -213px;
$icon-twitter-white-width: 36px;
$icon-twitter-white-height: 30px;
$icon-twitter-white-total-width: 405px;
$icon-twitter-white-total-height: 313px;
$icon-twitter-white-image: 'sprite.png';
$icon-twitter-white: (266px, 213px, -266px, -213px, 36px, 30px, 405px, 313px, 'sprite.png', 'icon-twitter-white', );
$icon-youtube-white-name: 'icon-youtube-white';
$icon-youtube-white-x: 351px;
$icon-youtube-white-y: 264px;
$icon-youtube-white-offset-x: -351px;
$icon-youtube-white-offset-y: -264px;
$icon-youtube-white-width: 42px;
$icon-youtube-white-height: 30px;
$icon-youtube-white-total-width: 405px;
$icon-youtube-white-total-height: 313px;
$icon-youtube-white-image: 'sprite.png';
$icon-youtube-white: (351px, 264px, -351px, -264px, 42px, 30px, 405px, 313px, 'sprite.png', 'icon-youtube-white', );
$lock-name: 'lock';
$lock-x: 317px;
$lock-y: 193px;
$lock-offset-x: -317px;
$lock-offset-y: -193px;
$lock-width: 15px;
$lock-height: 18px;
$lock-total-width: 405px;
$lock-total-height: 313px;
$lock-image: 'sprite.png';
$lock: (317px, 193px, -317px, -193px, 15px, 18px, 405px, 313px, 'sprite.png', 'lock', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 93px;
$logo-offset-x: 0px;
$logo-offset-y: -93px;
$logo-width: 97px;
$logo-height: 120px;
$logo-total-width: 405px;
$logo-total-height: 313px;
$logo-image: 'sprite.png';
$logo: (0px, 93px, 0px, -93px, 97px, 120px, 405px, 313px, 'sprite.png', 'logo', );
$owl-next-name: 'owl-next';
$owl-next-x: 332px;
$owl-next-y: 193px;
$owl-next-offset-x: -332px;
$owl-next-offset-y: -193px;
$owl-next-width: 16px;
$owl-next-height: 16px;
$owl-next-total-width: 405px;
$owl-next-total-height: 313px;
$owl-next-image: 'sprite.png';
$owl-next: (332px, 193px, -332px, -193px, 16px, 16px, 405px, 313px, 'sprite.png', 'owl-next', );
$owl-prev-name: 'owl-prev';
$owl-prev-x: 332px;
$owl-prev-y: 213px;
$owl-prev-offset-x: -332px;
$owl-prev-offset-y: -213px;
$owl-prev-width: 16px;
$owl-prev-height: 16px;
$owl-prev-total-width: 405px;
$owl-prev-total-height: 313px;
$owl-prev-image: 'sprite.png';
$owl-prev: (332px, 213px, -332px, -213px, 16px, 16px, 405px, 313px, 'sprite.png', 'owl-prev', );
$plus-circle-name: 'plus-circle';
$plus-circle-x: 257px;
$plus-circle-y: 193px;
$plus-circle-offset-x: -257px;
$plus-circle-offset-y: -193px;
$plus-circle-width: 20px;
$plus-circle-height: 20px;
$plus-circle-total-width: 405px;
$plus-circle-total-height: 313px;
$plus-circle-image: 'sprite.png';
$plus-circle: (257px, 193px, -257px, -193px, 20px, 20px, 405px, 313px, 'sprite.png', 'plus-circle', );
$plus-circle2-name: 'plus-circle2';
$plus-circle2-x: 97px;
$plus-circle2-y: 186px;
$plus-circle2-offset-x: -97px;
$plus-circle2-offset-y: -186px;
$plus-circle2-width: 26px;
$plus-circle2-height: 26px;
$plus-circle2-total-width: 405px;
$plus-circle2-total-height: 313px;
$plus-circle2-image: 'sprite.png';
$plus-circle2: (97px, 186px, -97px, -186px, 26px, 26px, 405px, 313px, 'sprite.png', 'plus-circle2', );
$profile-name: 'profile';
$profile-x: 131px;
$profile-y: 106px;
$profile-offset-x: -131px;
$profile-offset-y: -106px;
$profile-width: 100px;
$profile-height: 100px;
$profile-total-width: 405px;
$profile-total-height: 313px;
$profile-image: 'sprite.png';
$profile: (131px, 106px, -131px, -106px, 100px, 100px, 405px, 313px, 'sprite.png', 'profile', );
$register-name: 'register';
$register-x: 0px;
$register-y: 213px;
$register-offset-x: 0px;
$register-offset-y: -213px;
$register-width: 100px;
$register-height: 100px;
$register-total-width: 405px;
$register-total-height: 313px;
$register-image: 'sprite.png';
$register: (0px, 213px, 0px, -213px, 100px, 100px, 405px, 313px, 'sprite.png', 'register', );
$search-name: 'search';
$search-x: 237px;
$search-y: 193px;
$search-offset-x: -237px;
$search-offset-y: -193px;
$search-width: 20px;
$search-height: 20px;
$search-total-width: 405px;
$search-total-height: 313px;
$search-image: 'sprite.png';
$search: (237px, 193px, -237px, -193px, 20px, 20px, 405px, 313px, 'sprite.png', 'search', );
$share-facebook-name: 'share-facebook';
$share-facebook-x: 351px;
$share-facebook-y: 0px;
$share-facebook-offset-x: -351px;
$share-facebook-offset-y: 0px;
$share-facebook-width: 54px;
$share-facebook-height: 103px;
$share-facebook-total-width: 405px;
$share-facebook-total-height: 313px;
$share-facebook-image: 'sprite.png';
$share-facebook: (351px, 0px, -351px, 0px, 54px, 103px, 405px, 313px, 'sprite.png', 'share-facebook', );
$share-instagram-name: 'share-instagram';
$share-instagram-x: 131px;
$share-instagram-y: 0px;
$share-instagram-offset-x: -131px;
$share-instagram-offset-y: 0px;
$share-instagram-width: 106px;
$share-instagram-height: 106px;
$share-instagram-total-width: 405px;
$share-instagram-total-height: 313px;
$share-instagram-image: 'sprite.png';
$share-instagram: (131px, 0px, -131px, 0px, 106px, 106px, 405px, 313px, 'sprite.png', 'share-instagram', );
$share-youtube-name: 'share-youtube';
$share-youtube-x: 0px;
$share-youtube-y: 0px;
$share-youtube-offset-x: 0px;
$share-youtube-offset-y: 0px;
$share-youtube-width: 131px;
$share-youtube-height: 93px;
$share-youtube-total-width: 405px;
$share-youtube-total-height: 313px;
$share-youtube-image: 'sprite.png';
$share-youtube: (0px, 0px, 0px, 0px, 131px, 93px, 405px, 313px, 'sprite.png', 'share-youtube', );
$share-name: 'share';
$share-x: 100px;
$share-y: 213px;
$share-offset-x: -100px;
$share-offset-y: -213px;
$share-width: 77px;
$share-height: 56px;
$share-total-width: 405px;
$share-total-height: 313px;
$share-image: 'sprite.png';
$share: (100px, 213px, -100px, -213px, 77px, 56px, 405px, 313px, 'sprite.png', 'share', );
$shere-twitter-name: 'shere-twitter';
$shere-twitter-x: 237px;
$shere-twitter-y: 0px;
$shere-twitter-offset-x: -237px;
$shere-twitter-offset-y: 0px;
$shere-twitter-width: 114px;
$shere-twitter-height: 93px;
$shere-twitter-total-width: 405px;
$shere-twitter-total-height: 313px;
$shere-twitter-image: 'sprite.png';
$shere-twitter: (237px, 0px, -237px, 0px, 114px, 93px, 405px, 313px, 'sprite.png', 'shere-twitter', );
$spritesheet-width: 405px;
$spritesheet-height: 313px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arrow-down-circle-tr, $arrow-down-circle, $arrow-down-hover, $arrow-down, $arrow-left-circle, $arrow-right-circle, $arrow-right, $arrow-bottom, $bar-icon1, $bar-icon2, $bar-icon3, $comment, $connect, $down-arrow, $icon-hs-white, $icon-instagram-white, $icon-plus-white, $icon-twitter-white, $icon-youtube-white, $lock, $logo, $owl-next, $owl-prev, $plus-circle, $plus-circle2, $profile, $register, $search, $share-facebook, $share-instagram, $share-youtube, $share, $shere-twitter, );
$spritesheet: (405px, 313px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
