// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-circle-tr-name: 'arrow-down-circle-tr';
$arrow-down-circle-tr-x: 395px;
$arrow-down-circle-tr-y: 328px;
$arrow-down-circle-tr-offset-x: -395px;
$arrow-down-circle-tr-offset-y: -328px;
$arrow-down-circle-tr-width: 14px;
$arrow-down-circle-tr-height: 14px;
$arrow-down-circle-tr-total-width: 477px;
$arrow-down-circle-tr-total-height: 427px;
$arrow-down-circle-tr-image: 'sprite.png';
$arrow-down-circle-tr: (395px, 328px, -395px, -328px, 14px, 14px, 477px, 427px, 'sprite.png', 'arrow-down-circle-tr', );
$arrow-down-circle-name: 'arrow-down-circle';
$arrow-down-circle-x: 366px;
$arrow-down-circle-y: 108px;
$arrow-down-circle-offset-x: -366px;
$arrow-down-circle-offset-y: -108px;
$arrow-down-circle-width: 53px;
$arrow-down-circle-height: 53px;
$arrow-down-circle-total-width: 477px;
$arrow-down-circle-total-height: 427px;
$arrow-down-circle-image: 'sprite.png';
$arrow-down-circle: (366px, 108px, -366px, -108px, 53px, 53px, 477px, 427px, 'sprite.png', 'arrow-down-circle', );
$arrow-down-hover-name: 'arrow-down-hover';
$arrow-down-hover-x: 182px;
$arrow-down-hover-y: 389px;
$arrow-down-hover-offset-x: -182px;
$arrow-down-hover-offset-y: -389px;
$arrow-down-hover-width: 30px;
$arrow-down-hover-height: 30px;
$arrow-down-hover-total-width: 477px;
$arrow-down-hover-total-height: 427px;
$arrow-down-hover-image: 'sprite.png';
$arrow-down-hover: (182px, 389px, -182px, -389px, 30px, 30px, 477px, 427px, 'sprite.png', 'arrow-down-hover', );
$arrow-down-name: 'arrow-down';
$arrow-down-x: 325px;
$arrow-down-y: 328px;
$arrow-down-offset-x: -325px;
$arrow-down-offset-y: -328px;
$arrow-down-width: 30px;
$arrow-down-height: 30px;
$arrow-down-total-width: 477px;
$arrow-down-total-height: 427px;
$arrow-down-image: 'sprite.png';
$arrow-down: (325px, 328px, -325px, -328px, 30px, 30px, 477px, 427px, 'sprite.png', 'arrow-down', );
$arrow-left-circle-name: 'arrow-left-circle';
$arrow-left-circle-x: 455px;
$arrow-left-circle-y: 194px;
$arrow-left-circle-offset-x: -455px;
$arrow-left-circle-offset-y: -194px;
$arrow-left-circle-width: 20px;
$arrow-left-circle-height: 20px;
$arrow-left-circle-total-width: 477px;
$arrow-left-circle-total-height: 427px;
$arrow-left-circle-image: 'sprite.png';
$arrow-left-circle: (455px, 194px, -455px, -194px, 20px, 20px, 477px, 427px, 'sprite.png', 'arrow-left-circle', );
$arrow-right-circle-name: 'arrow-right-circle';
$arrow-right-circle-x: 455px;
$arrow-right-circle-y: 169px;
$arrow-right-circle-offset-x: -455px;
$arrow-right-circle-offset-y: -169px;
$arrow-right-circle-width: 20px;
$arrow-right-circle-height: 20px;
$arrow-right-circle-total-width: 477px;
$arrow-right-circle-total-height: 427px;
$arrow-right-circle-image: 'sprite.png';
$arrow-right-circle: (455px, 169px, -455px, -169px, 20px, 20px, 477px, 427px, 'sprite.png', 'arrow-right-circle', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 247px;
$arrow-right-y: 203px;
$arrow-right-offset-x: -247px;
$arrow-right-offset-y: -203px;
$arrow-right-width: 50px;
$arrow-right-height: 14px;
$arrow-right-total-width: 477px;
$arrow-right-total-height: 427px;
$arrow-right-image: 'sprite.png';
$arrow-right: (247px, 203px, -247px, -203px, 50px, 14px, 477px, 427px, 'sprite.png', 'arrow-right', );
$arrow-bottom-name: 'arrow_bottom';
$arrow-bottom-x: 366px;
$arrow-bottom-y: 166px;
$arrow-bottom-offset-x: -366px;
$arrow-bottom-offset-y: -166px;
$arrow-bottom-width: 53px;
$arrow-bottom-height: 53px;
$arrow-bottom-total-width: 477px;
$arrow-bottom-total-height: 427px;
$arrow-bottom-image: 'sprite.png';
$arrow-bottom: (366px, 166px, -366px, -166px, 53px, 53px, 477px, 427px, 'sprite.png', 'arrow_bottom', );
$athletes-list-social-bar-hs-name: 'athletes-list-social-bar-hs';
$athletes-list-social-bar-hs-x: 352px;
$athletes-list-social-bar-hs-y: 119px;
$athletes-list-social-bar-hs-offset-x: -352px;
$athletes-list-social-bar-hs-offset-y: -119px;
$athletes-list-social-bar-hs-width: 9px;
$athletes-list-social-bar-hs-height: 12px;
$athletes-list-social-bar-hs-total-width: 477px;
$athletes-list-social-bar-hs-total-height: 427px;
$athletes-list-social-bar-hs-image: 'sprite.png';
$athletes-list-social-bar-hs: (352px, 119px, -352px, -119px, 9px, 12px, 477px, 427px, 'sprite.png', 'athletes-list-social-bar-hs', );
$athletes-list-social-bar-insta-name: 'athletes-list-social-bar-insta';
$athletes-list-social-bar-insta-x: 343px;
$athletes-list-social-bar-insta-y: 203px;
$athletes-list-social-bar-insta-offset-x: -343px;
$athletes-list-social-bar-insta-offset-y: -203px;
$athletes-list-social-bar-insta-width: 12px;
$athletes-list-social-bar-insta-height: 12px;
$athletes-list-social-bar-insta-total-width: 477px;
$athletes-list-social-bar-insta-total-height: 427px;
$athletes-list-social-bar-insta-image: 'sprite.png';
$athletes-list-social-bar-insta: (343px, 203px, -343px, -203px, 12px, 12px, 477px, 427px, 'sprite.png', 'athletes-list-social-bar-insta', );
$athletes-list-social-bar-twitter-name: 'athletes-list-social-bar-twitter';
$athletes-list-social-bar-twitter-x: 324px;
$athletes-list-social-bar-twitter-y: 203px;
$athletes-list-social-bar-twitter-offset-x: -324px;
$athletes-list-social-bar-twitter-offset-y: -203px;
$athletes-list-social-bar-twitter-width: 14px;
$athletes-list-social-bar-twitter-height: 12px;
$athletes-list-social-bar-twitter-total-width: 477px;
$athletes-list-social-bar-twitter-total-height: 427px;
$athletes-list-social-bar-twitter-image: 'sprite.png';
$athletes-list-social-bar-twitter: (324px, 203px, -324px, -203px, 14px, 12px, 477px, 427px, 'sprite.png', 'athletes-list-social-bar-twitter', );
$athletes-list-social-bar-youtube-name: 'athletes-list-social-bar-youtube';
$athletes-list-social-bar-youtube-x: 302px;
$athletes-list-social-bar-youtube-y: 203px;
$athletes-list-social-bar-youtube-offset-x: -302px;
$athletes-list-social-bar-youtube-offset-y: -203px;
$athletes-list-social-bar-youtube-width: 17px;
$athletes-list-social-bar-youtube-height: 12px;
$athletes-list-social-bar-youtube-total-width: 477px;
$athletes-list-social-bar-youtube-total-height: 427px;
$athletes-list-social-bar-youtube-image: 'sprite.png';
$athletes-list-social-bar-youtube: (302px, 203px, -302px, -203px, 17px, 12px, 477px, 427px, 'sprite.png', 'athletes-list-social-bar-youtube', );
$bar-icon1-name: 'bar-icon1';
$bar-icon1-x: 102px;
$bar-icon1-y: 98px;
$bar-icon1-offset-x: -102px;
$bar-icon1-offset-y: -98px;
$bar-icon1-width: 25px;
$bar-icon1-height: 55px;
$bar-icon1-total-width: 477px;
$bar-icon1-total-height: 427px;
$bar-icon1-image: 'sprite.png';
$bar-icon1: (102px, 98px, -102px, -98px, 25px, 55px, 477px, 427px, 'sprite.png', 'bar-icon1', );
$bar-icon2-name: 'bar-icon2';
$bar-icon2-x: 425px;
$bar-icon2-y: 120px;
$bar-icon2-offset-x: -425px;
$bar-icon2-offset-y: -120px;
$bar-icon2-width: 25px;
$bar-icon2-height: 55px;
$bar-icon2-total-width: 477px;
$bar-icon2-total-height: 427px;
$bar-icon2-image: 'sprite.png';
$bar-icon2: (425px, 120px, -425px, -120px, 25px, 55px, 477px, 427px, 'sprite.png', 'bar-icon2', );
$bar-icon3-name: 'bar-icon3';
$bar-icon3-x: 425px;
$bar-icon3-y: 180px;
$bar-icon3-offset-x: -425px;
$bar-icon3-offset-y: -180px;
$bar-icon3-width: 25px;
$bar-icon3-height: 55px;
$bar-icon3-total-width: 477px;
$bar-icon3-total-height: 427px;
$bar-icon3-image: 'sprite.png';
$bar-icon3: (425px, 180px, -425px, -180px, 25px, 55px, 477px, 427px, 'sprite.png', 'bar-icon3', );
$bar-icon4-name: 'bar-icon4';
$bar-icon4-x: 425px;
$bar-icon4-y: 240px;
$bar-icon4-offset-x: -425px;
$bar-icon4-offset-y: -240px;
$bar-icon4-width: 25px;
$bar-icon4-height: 55px;
$bar-icon4-total-width: 477px;
$bar-icon4-total-height: 427px;
$bar-icon4-image: 'sprite.png';
$bar-icon4: (425px, 240px, -425px, -240px, 25px, 55px, 477px, 427px, 'sprite.png', 'bar-icon4', );
$bar-icon5-name: 'bar-icon5';
$bar-icon5-x: 425px;
$bar-icon5-y: 300px;
$bar-icon5-offset-x: -425px;
$bar-icon5-offset-y: -300px;
$bar-icon5-width: 25px;
$bar-icon5-height: 55px;
$bar-icon5-total-width: 477px;
$bar-icon5-total-height: 427px;
$bar-icon5-image: 'sprite.png';
$bar-icon5: (425px, 300px, -425px, -300px, 25px, 55px, 477px, 427px, 'sprite.png', 'bar-icon5', );
$bar-icon6-name: 'bar-icon6';
$bar-icon6-x: 425px;
$bar-icon6-y: 60px;
$bar-icon6-offset-x: -425px;
$bar-icon6-offset-y: -60px;
$bar-icon6-width: 25px;
$bar-icon6-height: 55px;
$bar-icon6-total-width: 477px;
$bar-icon6-total-height: 427px;
$bar-icon6-image: 'sprite.png';
$bar-icon6: (425px, 60px, -425px, -60px, 25px, 55px, 477px, 427px, 'sprite.png', 'bar-icon6', );
$bar-icon7-name: 'bar-icon7';
$bar-icon7-x: 425px;
$bar-icon7-y: 0px;
$bar-icon7-offset-x: -425px;
$bar-icon7-offset-y: 0px;
$bar-icon7-width: 25px;
$bar-icon7-height: 55px;
$bar-icon7-total-width: 477px;
$bar-icon7-total-height: 427px;
$bar-icon7-image: 'sprite.png';
$bar-icon7: (425px, 0px, -425px, 0px, 25px, 55px, 477px, 427px, 'sprite.png', 'bar-icon7', );
$bar-icon8-name: 'bar-icon8';
$bar-icon8-x: 102px;
$bar-icon8-y: 158px;
$bar-icon8-offset-x: -102px;
$bar-icon8-offset-y: -158px;
$bar-icon8-width: 25px;
$bar-icon8-height: 55px;
$bar-icon8-total-width: 477px;
$bar-icon8-total-height: 427px;
$bar-icon8-image: 'sprite.png';
$bar-icon8: (102px, 158px, -102px, -158px, 25px, 55px, 477px, 427px, 'sprite.png', 'bar-icon8', );
$comment-name: 'comment';
$comment-x: 82px;
$comment-y: 328px;
$comment-offset-x: -82px;
$comment-offset-y: -328px;
$comment-width: 56px;
$comment-height: 51px;
$comment-total-width: 477px;
$comment-total-height: 427px;
$comment-image: 'sprite.png';
$comment: (82px, 328px, -82px, -328px, 56px, 51px, 477px, 427px, 'sprite.png', 'comment', );
$connect-name: 'connect';
$connect-x: 136px;
$connect-y: 111px;
$connect-offset-x: -136px;
$connect-offset-y: -111px;
$connect-width: 100px;
$connect-height: 100px;
$connect-total-width: 477px;
$connect-total-height: 427px;
$connect-image: 'sprite.png';
$connect: (136px, 111px, -136px, -111px, 100px, 100px, 477px, 427px, 'sprite.png', 'connect', );
$dashboard-icon-name: 'dashboard-icon';
$dashboard-icon-x: 455px;
$dashboard-icon-y: 244px;
$dashboard-icon-offset-x: -455px;
$dashboard-icon-offset-y: -244px;
$dashboard-icon-width: 22px;
$dashboard-icon-height: 18px;
$dashboard-icon-total-width: 477px;
$dashboard-icon-total-height: 427px;
$dashboard-icon-image: 'sprite.png';
$dashboard-icon: (455px, 244px, -455px, -244px, 22px, 18px, 477px, 427px, 'sprite.png', 'dashboard-icon', );
$dashboard-message-name: 'dashboard-message';
$dashboard-message-x: 455px;
$dashboard-message-y: 377px;
$dashboard-message-offset-x: -455px;
$dashboard-message-offset-y: -377px;
$dashboard-message-width: 16px;
$dashboard-message-height: 18px;
$dashboard-message-total-width: 477px;
$dashboard-message-total-height: 427px;
$dashboard-message-image: 'sprite.png';
$dashboard-message: (455px, 377px, -455px, -377px, 16px, 18px, 477px, 427px, 'sprite.png', 'dashboard-message', );
$dashboard-settings-name: 'dashboard-settings';
$dashboard-settings-x: 455px;
$dashboard-settings-y: 267px;
$dashboard-settings-offset-x: -455px;
$dashboard-settings-offset-y: -267px;
$dashboard-settings-width: 19px;
$dashboard-settings-height: 18px;
$dashboard-settings-total-width: 477px;
$dashboard-settings-total-height: 427px;
$dashboard-settings-image: 'sprite.png';
$dashboard-settings: (455px, 267px, -455px, -267px, 19px, 18px, 477px, 427px, 'sprite.png', 'dashboard-settings', );
$down-arrow-name: 'down-arrow';
$down-arrow-x: 110px;
$down-arrow-y: 389px;
$down-arrow-offset-x: -110px;
$down-arrow-offset-y: -389px;
$down-arrow-width: 32px;
$down-arrow-height: 32px;
$down-arrow-total-width: 477px;
$down-arrow-total-height: 427px;
$down-arrow-image: 'sprite.png';
$down-arrow: (110px, 389px, -110px, -389px, 32px, 32px, 477px, 427px, 'sprite.png', 'down-arrow', );
$icon-hs-white-name: 'icon-hs-white';
$icon-hs-white-x: 0px;
$icon-hs-white-y: 389px;
$icon-hs-white-offset-x: 0px;
$icon-hs-white-offset-y: -389px;
$icon-hs-white-width: 30px;
$icon-hs-white-height: 38px;
$icon-hs-white-total-width: 477px;
$icon-hs-white-total-height: 427px;
$icon-hs-white-image: 'sprite.png';
$icon-hs-white: (0px, 389px, 0px, -389px, 30px, 38px, 477px, 427px, 'sprite.png', 'icon-hs-white', );
$icon-instagram-white-name: 'icon-instagram-white';
$icon-instagram-white-x: 35px;
$icon-instagram-white-y: 389px;
$icon-instagram-white-offset-x: -35px;
$icon-instagram-white-offset-y: -389px;
$icon-instagram-white-width: 33px;
$icon-instagram-white-height: 33px;
$icon-instagram-white-total-width: 477px;
$icon-instagram-white-total-height: 427px;
$icon-instagram-white-image: 'sprite.png';
$icon-instagram-white: (35px, 389px, -35px, -389px, 33px, 33px, 477px, 427px, 'sprite.png', 'icon-instagram-white', );
$icon-plus-white-name: 'icon-plus-white';
$icon-plus-white-x: 73px;
$icon-plus-white-y: 389px;
$icon-plus-white-offset-x: -73px;
$icon-plus-white-offset-y: -389px;
$icon-plus-white-width: 32px;
$icon-plus-white-height: 32px;
$icon-plus-white-total-width: 477px;
$icon-plus-white-total-height: 427px;
$icon-plus-white-image: 'sprite.png';
$icon-plus-white: (73px, 389px, -73px, -389px, 32px, 32px, 477px, 427px, 'sprite.png', 'icon-plus-white', );
$icon-twitter-white-name: 'icon-twitter-white';
$icon-twitter-white-x: 284px;
$icon-twitter-white-y: 328px;
$icon-twitter-white-offset-x: -284px;
$icon-twitter-white-offset-y: -328px;
$icon-twitter-white-width: 36px;
$icon-twitter-white-height: 30px;
$icon-twitter-white-total-width: 477px;
$icon-twitter-white-total-height: 427px;
$icon-twitter-white-image: 'sprite.png';
$icon-twitter-white: (284px, 328px, -284px, -328px, 36px, 30px, 477px, 427px, 'sprite.png', 'icon-twitter-white', );
$icon-youtube-white-name: 'icon-youtube-white';
$icon-youtube-white-x: 237px;
$icon-youtube-white-y: 328px;
$icon-youtube-white-offset-x: -237px;
$icon-youtube-white-offset-y: -328px;
$icon-youtube-white-width: 42px;
$icon-youtube-white-height: 30px;
$icon-youtube-white-total-width: 477px;
$icon-youtube-white-total-height: 427px;
$icon-youtube-white-image: 'sprite.png';
$icon-youtube-white: (237px, 328px, -237px, -328px, 42px, 30px, 477px, 427px, 'sprite.png', 'icon-youtube-white', );
$info-summary-facebook-name: 'info-summary-facebook';
$info-summary-facebook-x: 455px;
$info-summary-facebook-y: 0px;
$info-summary-facebook-offset-x: -455px;
$info-summary-facebook-offset-y: 0px;
$info-summary-facebook-width: 22px;
$info-summary-facebook-height: 42px;
$info-summary-facebook-total-width: 477px;
$info-summary-facebook-total-height: 427px;
$info-summary-facebook-image: 'sprite.png';
$info-summary-facebook: (455px, 0px, -455px, 0px, 22px, 42px, 477px, 427px, 'sprite.png', 'info-summary-facebook', );
$info-summary-facebook-white-name: 'info-summary-facebook_white';
$info-summary-facebook-white-x: 455px;
$info-summary-facebook-white-y: 47px;
$info-summary-facebook-white-offset-x: -455px;
$info-summary-facebook-white-offset-y: -47px;
$info-summary-facebook-white-width: 22px;
$info-summary-facebook-white-height: 42px;
$info-summary-facebook-white-total-width: 477px;
$info-summary-facebook-white-total-height: 427px;
$info-summary-facebook-white-image: 'sprite.png';
$info-summary-facebook-white: (455px, 47px, -455px, -47px, 22px, 42px, 477px, 427px, 'sprite.png', 'info-summary-facebook_white', );
$info-summary-insta-name: 'info-summary-insta';
$info-summary-insta-x: 366px;
$info-summary-insta-y: 271px;
$info-summary-insta-offset-x: -366px;
$info-summary-insta-offset-y: -271px;
$info-summary-insta-width: 42px;
$info-summary-insta-height: 42px;
$info-summary-insta-total-width: 477px;
$info-summary-insta-total-height: 427px;
$info-summary-insta-image: 'sprite.png';
$info-summary-insta: (366px, 271px, -366px, -271px, 42px, 42px, 477px, 427px, 'sprite.png', 'info-summary-insta', );
$info-summary-insta-white-name: 'info-summary-insta_white';
$info-summary-insta-white-x: 366px;
$info-summary-insta-white-y: 224px;
$info-summary-insta-white-offset-x: -366px;
$info-summary-insta-white-offset-y: -224px;
$info-summary-insta-white-width: 42px;
$info-summary-insta-white-height: 42px;
$info-summary-insta-white-total-width: 477px;
$info-summary-insta-white-total-height: 427px;
$info-summary-insta-white-image: 'sprite.png';
$info-summary-insta-white: (366px, 224px, -366px, -224px, 42px, 42px, 477px, 427px, 'sprite.png', 'info-summary-insta_white', );
$info-summary-twitter-name: 'info-summary-twitter';
$info-summary-twitter-x: 143px;
$info-summary-twitter-y: 328px;
$info-summary-twitter-offset-x: -143px;
$info-summary-twitter-offset-y: -328px;
$info-summary-twitter-width: 42px;
$info-summary-twitter-height: 34px;
$info-summary-twitter-total-width: 477px;
$info-summary-twitter-total-height: 427px;
$info-summary-twitter-image: 'sprite.png';
$info-summary-twitter: (143px, 328px, -143px, -328px, 42px, 34px, 477px, 427px, 'sprite.png', 'info-summary-twitter', );
$info-summary-twitter-white-name: 'info-summary-twitter_white';
$info-summary-twitter-white-x: 190px;
$info-summary-twitter-white-y: 328px;
$info-summary-twitter-white-offset-x: -190px;
$info-summary-twitter-white-offset-y: -328px;
$info-summary-twitter-white-width: 42px;
$info-summary-twitter-white-height: 34px;
$info-summary-twitter-white-total-width: 477px;
$info-summary-twitter-white-total-height: 427px;
$info-summary-twitter-white-image: 'sprite.png';
$info-summary-twitter-white: (190px, 328px, -190px, -328px, 42px, 34px, 477px, 427px, 'sprite.png', 'info-summary-twitter_white', );
$lock-name: 'lock';
$lock-x: 455px;
$lock-y: 400px;
$lock-offset-x: -455px;
$lock-offset-y: -400px;
$lock-width: 15px;
$lock-height: 18px;
$lock-total-width: 477px;
$lock-total-height: 427px;
$lock-image: 'sprite.png';
$lock: (455px, 400px, -455px, -400px, 15px, 18px, 477px, 427px, 'sprite.png', 'lock', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 98px;
$logo-offset-x: 0px;
$logo-offset-y: -98px;
$logo-width: 97px;
$logo-height: 120px;
$logo-total-width: 477px;
$logo-total-height: 427px;
$logo-image: 'sprite.png';
$logo: (0px, 98px, 0px, -98px, 97px, 120px, 477px, 427px, 'sprite.png', 'logo', );
$magnifier-name: 'magnifier';
$magnifier-x: 105px;
$magnifier-y: 223px;
$magnifier-offset-x: -105px;
$magnifier-offset-y: -223px;
$magnifier-width: 90px;
$magnifier-height: 90px;
$magnifier-total-width: 477px;
$magnifier-total-height: 427px;
$magnifier-image: 'sprite.png';
$magnifier: (105px, 223px, -105px, -223px, 90px, 90px, 477px, 427px, 'sprite.png', 'magnifier', );
$minus-cirkle-name: 'minus-cirkle';
$minus-cirkle-x: 248px;
$minus-cirkle-y: 389px;
$minus-cirkle-offset-x: -248px;
$minus-cirkle-offset-y: -389px;
$minus-cirkle-width: 26px;
$minus-cirkle-height: 26px;
$minus-cirkle-total-width: 477px;
$minus-cirkle-total-height: 427px;
$minus-cirkle-image: 'sprite.png';
$minus-cirkle: (248px, 389px, -248px, -389px, 26px, 26px, 477px, 427px, 'sprite.png', 'minus-cirkle', );
$minus-cirkle-white-name: 'minus-cirkle_white';
$minus-cirkle-white-x: 455px;
$minus-cirkle-white-y: 219px;
$minus-cirkle-white-offset-x: -455px;
$minus-cirkle-white-offset-y: -219px;
$minus-cirkle-white-width: 20px;
$minus-cirkle-white-height: 20px;
$minus-cirkle-white-total-width: 477px;
$minus-cirkle-white-total-height: 427px;
$minus-cirkle-white-image: 'sprite.png';
$minus-cirkle-white: (455px, 219px, -455px, -219px, 20px, 20px, 477px, 427px, 'sprite.png', 'minus-cirkle_white', );
$ok-circle-18x18-name: 'ok-circle-18x18';
$ok-circle-18x18-x: 455px;
$ok-circle-18x18-y: 310px;
$ok-circle-18x18-offset-x: -455px;
$ok-circle-18x18-offset-y: -310px;
$ok-circle-18x18-width: 18px;
$ok-circle-18x18-height: 18px;
$ok-circle-18x18-total-width: 477px;
$ok-circle-18x18-total-height: 427px;
$ok-circle-18x18-image: 'sprite.png';
$ok-circle-18x18: (455px, 310px, -455px, -310px, 18px, 18px, 477px, 427px, 'sprite.png', 'ok-circle-18x18', );
$owl-next-name: 'owl-next';
$owl-next-x: 285px;
$owl-next-y: 283px;
$owl-next-offset-x: -285px;
$owl-next-offset-y: -283px;
$owl-next-width: 16px;
$owl-next-height: 16px;
$owl-next-total-width: 477px;
$owl-next-total-height: 427px;
$owl-next-image: 'sprite.png';
$owl-next: (285px, 283px, -285px, -283px, 16px, 16px, 477px, 427px, 'sprite.png', 'owl-next', );
$owl-prev-name: 'owl-prev';
$owl-prev-x: 345px;
$owl-prev-y: 244px;
$owl-prev-offset-x: -345px;
$owl-prev-offset-y: -244px;
$owl-prev-width: 16px;
$owl-prev-height: 16px;
$owl-prev-total-width: 477px;
$owl-prev-total-height: 427px;
$owl-prev-image: 'sprite.png';
$owl-prev: (345px, 244px, -345px, -244px, 16px, 16px, 477px, 427px, 'sprite.png', 'owl-prev', );
$plus-circle-18x18-name: 'plus-circle-18x18';
$plus-circle-18x18-x: 455px;
$plus-circle-18x18-y: 333px;
$plus-circle-18x18-offset-x: -455px;
$plus-circle-18x18-offset-y: -333px;
$plus-circle-18x18-width: 18px;
$plus-circle-18x18-height: 18px;
$plus-circle-18x18-total-width: 477px;
$plus-circle-18x18-total-height: 427px;
$plus-circle-18x18-image: 'sprite.png';
$plus-circle-18x18: (455px, 333px, -455px, -333px, 18px, 18px, 477px, 427px, 'sprite.png', 'plus-circle-18x18', );
$plus-circle-name: 'plus-circle';
$plus-circle-x: 455px;
$plus-circle-y: 144px;
$plus-circle-offset-x: -455px;
$plus-circle-offset-y: -144px;
$plus-circle-width: 20px;
$plus-circle-height: 20px;
$plus-circle-total-width: 477px;
$plus-circle-total-height: 427px;
$plus-circle-image: 'sprite.png';
$plus-circle: (455px, 144px, -455px, -144px, 20px, 20px, 477px, 427px, 'sprite.png', 'plus-circle', );
$plus-circle2-name: 'plus-circle2';
$plus-circle2-x: 217px;
$plus-circle2-y: 389px;
$plus-circle2-offset-x: -217px;
$plus-circle2-offset-y: -389px;
$plus-circle2-width: 26px;
$plus-circle2-height: 26px;
$plus-circle2-total-width: 477px;
$plus-circle2-total-height: 427px;
$plus-circle2-image: 'sprite.png';
$plus-circle2: (217px, 389px, -217px, -389px, 26px, 26px, 477px, 427px, 'sprite.png', 'plus-circle2', );
$profile-img-slider-name: 'profile-img-slider';
$profile-img-slider-x: 285px;
$profile-img-slider-y: 223px;
$profile-img-slider-offset-x: -285px;
$profile-img-slider-offset-y: -223px;
$profile-img-slider-width: 55px;
$profile-img-slider-height: 55px;
$profile-img-slider-total-width: 477px;
$profile-img-slider-total-height: 427px;
$profile-img-slider-image: 'sprite.png';
$profile-img-slider: (285px, 223px, -285px, -223px, 55px, 55px, 477px, 427px, 'sprite.png', 'profile-img-slider', );
$profile-img-slider2-name: 'profile-img-slider2';
$profile-img-slider2-x: 147px;
$profile-img-slider2-y: 389px;
$profile-img-slider2-offset-x: -147px;
$profile-img-slider2-offset-y: -389px;
$profile-img-slider2-width: 30px;
$profile-img-slider2-height: 30px;
$profile-img-slider2-total-width: 477px;
$profile-img-slider2-total-height: 427px;
$profile-img-slider2-image: 'sprite.png';
$profile-img-slider2: (147px, 389px, -147px, -389px, 30px, 30px, 477px, 427px, 'sprite.png', 'profile-img-slider2', );
$profile-news-slider-name: 'profile-news-slider';
$profile-news-slider-x: 360px;
$profile-news-slider-y: 328px;
$profile-news-slider-offset-x: -360px;
$profile-news-slider-offset-y: -328px;
$profile-news-slider-width: 30px;
$profile-news-slider-height: 30px;
$profile-news-slider-total-width: 477px;
$profile-news-slider-total-height: 427px;
$profile-news-slider-image: 'sprite.png';
$profile-news-slider: (360px, 328px, -360px, -328px, 30px, 30px, 477px, 427px, 'sprite.png', 'profile-news-slider', );
$profile-news-twitter-name: 'profile-news-twitter';
$profile-news-twitter-x: 200px;
$profile-news-twitter-y: 223px;
$profile-news-twitter-offset-x: -200px;
$profile-news-twitter-offset-y: -223px;
$profile-news-twitter-width: 80px;
$profile-news-twitter-height: 80px;
$profile-news-twitter-total-width: 477px;
$profile-news-twitter-total-height: 427px;
$profile-news-twitter-image: 'sprite.png';
$profile-news-twitter: (200px, 223px, -200px, -223px, 80px, 80px, 477px, 427px, 'sprite.png', 'profile-news-twitter', );
$profile-news-youtube-name: 'profile-news-youtube';
$profile-news-youtube-x: 279px;
$profile-news-youtube-y: 389px;
$profile-news-youtube-offset-x: -279px;
$profile-news-youtube-offset-y: -389px;
$profile-news-youtube-width: 30px;
$profile-news-youtube-height: 21px;
$profile-news-youtube-total-width: 477px;
$profile-news-youtube-total-height: 427px;
$profile-news-youtube-image: 'sprite.png';
$profile-news-youtube: (279px, 389px, -279px, -389px, 30px, 21px, 477px, 427px, 'sprite.png', 'profile-news-youtube', );
$profile-news-item-footer-youtube-name: 'profile-news__item-footer-youtube';
$profile-news-item-footer-youtube-x: 455px;
$profile-news-item-footer-youtube-y: 290px;
$profile-news-item-footer-youtube-offset-x: -455px;
$profile-news-item-footer-youtube-offset-y: -290px;
$profile-news-item-footer-youtube-width: 22px;
$profile-news-item-footer-youtube-height: 15px;
$profile-news-item-footer-youtube-total-width: 477px;
$profile-news-item-footer-youtube-total-height: 427px;
$profile-news-item-footer-youtube-image: 'sprite.png';
$profile-news-item-footer-youtube: (455px, 290px, -455px, -290px, 22px, 15px, 477px, 427px, 'sprite.png', 'profile-news__item-footer-youtube', );
$profile-name: 'profile';
$profile-x: 247px;
$profile-y: 98px;
$profile-offset-x: -247px;
$profile-offset-y: -98px;
$profile-width: 100px;
$profile-height: 100px;
$profile-total-width: 477px;
$profile-total-height: 427px;
$profile-image: 'sprite.png';
$profile: (247px, 98px, -247px, -98px, 100px, 100px, 477px, 427px, 'sprite.png', 'profile', );
$progress-bar-facebook-name: 'progress-bar-facebook';
$progress-bar-facebook-x: 425px;
$progress-bar-facebook-y: 360px;
$progress-bar-facebook-offset-x: -425px;
$progress-bar-facebook-offset-y: -360px;
$progress-bar-facebook-width: 16px;
$progress-bar-facebook-height: 16px;
$progress-bar-facebook-total-width: 477px;
$progress-bar-facebook-total-height: 427px;
$progress-bar-facebook-image: 'sprite.png';
$progress-bar-facebook: (425px, 360px, -425px, -360px, 16px, 16px, 477px, 427px, 'sprite.png', 'progress-bar-facebook', );
$progress-bar-instagram-name: 'progress-bar-instagram';
$progress-bar-instagram-x: 306px;
$progress-bar-instagram-y: 283px;
$progress-bar-instagram-offset-x: -306px;
$progress-bar-instagram-offset-y: -283px;
$progress-bar-instagram-width: 16px;
$progress-bar-instagram-height: 16px;
$progress-bar-instagram-total-width: 477px;
$progress-bar-instagram-total-height: 427px;
$progress-bar-instagram-image: 'sprite.png';
$progress-bar-instagram: (306px, 283px, -306px, -283px, 16px, 16px, 477px, 427px, 'sprite.png', 'progress-bar-instagram', );
$progress-bar-twitter-name: 'progress-bar-twitter';
$progress-bar-twitter-x: 345px;
$progress-bar-twitter-y: 223px;
$progress-bar-twitter-offset-x: -345px;
$progress-bar-twitter-offset-y: -223px;
$progress-bar-twitter-width: 16px;
$progress-bar-twitter-height: 16px;
$progress-bar-twitter-total-width: 477px;
$progress-bar-twitter-total-height: 427px;
$progress-bar-twitter-image: 'sprite.png';
$progress-bar-twitter: (345px, 223px, -345px, -223px, 16px, 16px, 477px, 427px, 'sprite.png', 'progress-bar-twitter', );
$register-name: 'register';
$register-x: 0px;
$register-y: 223px;
$register-offset-x: 0px;
$register-offset-y: -223px;
$register-width: 100px;
$register-height: 100px;
$register-total-width: 477px;
$register-total-height: 427px;
$register-image: 'sprite.png';
$register: (0px, 223px, 0px, -223px, 100px, 100px, 477px, 427px, 'sprite.png', 'register', );
$search-name: 'search';
$search-x: 455px;
$search-y: 119px;
$search-offset-x: -455px;
$search-offset-y: -119px;
$search-width: 20px;
$search-height: 20px;
$search-total-width: 477px;
$search-total-height: 427px;
$search-image: 'sprite.png';
$search: (455px, 119px, -455px, -119px, 20px, 20px, 477px, 427px, 'sprite.png', 'search', );
$share-facebook-name: 'share-facebook';
$share-facebook-x: 366px;
$share-facebook-y: 0px;
$share-facebook-offset-x: -366px;
$share-facebook-offset-y: 0px;
$share-facebook-width: 54px;
$share-facebook-height: 103px;
$share-facebook-total-width: 477px;
$share-facebook-total-height: 427px;
$share-facebook-image: 'sprite.png';
$share-facebook: (366px, 0px, -366px, 0px, 54px, 103px, 477px, 427px, 'sprite.png', 'share-facebook', );
$share-instagram-name: 'share-instagram';
$share-instagram-x: 136px;
$share-instagram-y: 0px;
$share-instagram-offset-x: -136px;
$share-instagram-offset-y: 0px;
$share-instagram-width: 106px;
$share-instagram-height: 106px;
$share-instagram-total-width: 477px;
$share-instagram-total-height: 427px;
$share-instagram-image: 'sprite.png';
$share-instagram: (136px, 0px, -136px, 0px, 106px, 106px, 477px, 427px, 'sprite.png', 'share-instagram', );
$share-youtube-name: 'share-youtube';
$share-youtube-x: 0px;
$share-youtube-y: 0px;
$share-youtube-offset-x: 0px;
$share-youtube-offset-y: 0px;
$share-youtube-width: 131px;
$share-youtube-height: 93px;
$share-youtube-total-width: 477px;
$share-youtube-total-height: 427px;
$share-youtube-image: 'sprite.png';
$share-youtube: (0px, 0px, 0px, 0px, 131px, 93px, 477px, 427px, 'sprite.png', 'share-youtube', );
$share-name: 'share';
$share-x: 0px;
$share-y: 328px;
$share-offset-x: 0px;
$share-offset-y: -328px;
$share-width: 77px;
$share-height: 56px;
$share-total-width: 477px;
$share-total-height: 427px;
$share-image: 'sprite.png';
$share: (0px, 328px, 0px, -328px, 77px, 56px, 477px, 427px, 'sprite.png', 'share', );
$shere-twitter-name: 'shere-twitter';
$shere-twitter-x: 247px;
$shere-twitter-y: 0px;
$shere-twitter-offset-x: -247px;
$shere-twitter-offset-y: 0px;
$shere-twitter-width: 114px;
$shere-twitter-height: 93px;
$shere-twitter-total-width: 477px;
$shere-twitter-total-height: 427px;
$shere-twitter-image: 'sprite.png';
$shere-twitter: (247px, 0px, -247px, 0px, 114px, 93px, 477px, 427px, 'sprite.png', 'shere-twitter', );
$step-back-name: 'step-back';
$step-back-x: 455px;
$step-back-y: 94px;
$step-back-offset-x: -455px;
$step-back-offset-y: -94px;
$step-back-width: 20px;
$step-back-height: 20px;
$step-back-total-width: 477px;
$step-back-total-height: 427px;
$step-back-image: 'sprite.png';
$step-back: (455px, 94px, -455px, -94px, 20px, 20px, 477px, 427px, 'sprite.png', 'step-back', );
$user-profile-bar-facebook-name: 'user-profile-bar-facebook';
$user-profile-bar-facebook-x: 352px;
$user-profile-bar-facebook-y: 98px;
$user-profile-bar-facebook-offset-x: -352px;
$user-profile-bar-facebook-offset-y: -98px;
$user-profile-bar-facebook-width: 8px;
$user-profile-bar-facebook-height: 16px;
$user-profile-bar-facebook-total-width: 477px;
$user-profile-bar-facebook-total-height: 427px;
$user-profile-bar-facebook-image: 'sprite.png';
$user-profile-bar-facebook: (352px, 98px, -352px, -98px, 8px, 16px, 477px, 427px, 'sprite.png', 'user-profile-bar-facebook', );
$user-profile-bar-hs-name: 'user-profile-bar-hs';
$user-profile-bar-hs-x: 348px;
$user-profile-bar-hs-y: 283px;
$user-profile-bar-hs-offset-x: -348px;
$user-profile-bar-hs-offset-y: -283px;
$user-profile-bar-hs-width: 12px;
$user-profile-bar-hs-height: 16px;
$user-profile-bar-hs-total-width: 477px;
$user-profile-bar-hs-total-height: 427px;
$user-profile-bar-hs-image: 'sprite.png';
$user-profile-bar-hs: (348px, 283px, -348px, -283px, 12px, 16px, 477px, 427px, 'sprite.png', 'user-profile-bar-hs', );
$user-profile-bar-insta-name: 'user-profile-bar-insta';
$user-profile-bar-insta-x: 327px;
$user-profile-bar-insta-y: 283px;
$user-profile-bar-insta-offset-x: -327px;
$user-profile-bar-insta-offset-y: -283px;
$user-profile-bar-insta-width: 16px;
$user-profile-bar-insta-height: 16px;
$user-profile-bar-insta-total-width: 477px;
$user-profile-bar-insta-total-height: 427px;
$user-profile-bar-insta-image: 'sprite.png';
$user-profile-bar-insta: (327px, 283px, -327px, -283px, 16px, 16px, 477px, 427px, 'sprite.png', 'user-profile-bar-insta', );
$user-profile-bar-twitter-name: 'user-profile-bar-twitter';
$user-profile-bar-twitter-x: 455px;
$user-profile-bar-twitter-y: 356px;
$user-profile-bar-twitter-offset-x: -455px;
$user-profile-bar-twitter-offset-y: -356px;
$user-profile-bar-twitter-width: 19px;
$user-profile-bar-twitter-height: 16px;
$user-profile-bar-twitter-total-width: 477px;
$user-profile-bar-twitter-total-height: 427px;
$user-profile-bar-twitter-image: 'sprite.png';
$user-profile-bar-twitter: (455px, 356px, -455px, -356px, 19px, 16px, 477px, 427px, 'sprite.png', 'user-profile-bar-twitter', );
$spritesheet-width: 477px;
$spritesheet-height: 427px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arrow-down-circle-tr, $arrow-down-circle, $arrow-down-hover, $arrow-down, $arrow-left-circle, $arrow-right-circle, $arrow-right, $arrow-bottom, $athletes-list-social-bar-hs, $athletes-list-social-bar-insta, $athletes-list-social-bar-twitter, $athletes-list-social-bar-youtube, $bar-icon1, $bar-icon2, $bar-icon3, $bar-icon4, $bar-icon5, $bar-icon6, $bar-icon7, $bar-icon8, $comment, $connect, $dashboard-icon, $dashboard-message, $dashboard-settings, $down-arrow, $icon-hs-white, $icon-instagram-white, $icon-plus-white, $icon-twitter-white, $icon-youtube-white, $info-summary-facebook, $info-summary-facebook-white, $info-summary-insta, $info-summary-insta-white, $info-summary-twitter, $info-summary-twitter-white, $lock, $logo, $magnifier, $minus-cirkle, $minus-cirkle-white, $ok-circle-18x18, $owl-next, $owl-prev, $plus-circle-18x18, $plus-circle, $plus-circle2, $profile-img-slider, $profile-img-slider2, $profile-news-slider, $profile-news-twitter, $profile-news-youtube, $profile-news-item-footer-youtube, $profile, $progress-bar-facebook, $progress-bar-instagram, $progress-bar-twitter, $register, $search, $share-facebook, $share-instagram, $share-youtube, $share, $shere-twitter, $step-back, $user-profile-bar-facebook, $user-profile-bar-hs, $user-profile-bar-insta, $user-profile-bar-twitter, );
$spritesheet: (477px, 427px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
