// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-circle-tr-name: 'arrow-down-circle-tr';
$arrow-down-circle-tr-x: 302px;
$arrow-down-circle-tr-y: 203px;
$arrow-down-circle-tr-offset-x: -302px;
$arrow-down-circle-tr-offset-y: -203px;
$arrow-down-circle-tr-width: 14px;
$arrow-down-circle-tr-height: 14px;
$arrow-down-circle-tr-total-width: 420px;
$arrow-down-circle-tr-total-height: 416px;
$arrow-down-circle-tr-image: 'sprite.png';
$arrow-down-circle-tr: (302px, 203px, -302px, -203px, 14px, 14px, 420px, 416px, 'sprite.png', 'arrow-down-circle-tr', );
$arrow-down-circle-name: 'arrow-down-circle';
$arrow-down-circle-x: 366px;
$arrow-down-circle-y: 166px;
$arrow-down-circle-offset-x: -366px;
$arrow-down-circle-offset-y: -166px;
$arrow-down-circle-width: 53px;
$arrow-down-circle-height: 53px;
$arrow-down-circle-total-width: 420px;
$arrow-down-circle-total-height: 416px;
$arrow-down-circle-image: 'sprite.png';
$arrow-down-circle: (366px, 166px, -366px, -166px, 53px, 53px, 420px, 416px, 'sprite.png', 'arrow-down-circle', );
$arrow-down-hover-name: 'arrow-down-hover';
$arrow-down-hover-x: 210px;
$arrow-down-hover-y: 328px;
$arrow-down-hover-offset-x: -210px;
$arrow-down-hover-offset-y: -328px;
$arrow-down-hover-width: 30px;
$arrow-down-hover-height: 30px;
$arrow-down-hover-total-width: 420px;
$arrow-down-hover-total-height: 416px;
$arrow-down-hover-image: 'sprite.png';
$arrow-down-hover: (210px, 328px, -210px, -328px, 30px, 30px, 420px, 416px, 'sprite.png', 'arrow-down-hover', );
$arrow-down-name: 'arrow-down';
$arrow-down-x: 175px;
$arrow-down-y: 328px;
$arrow-down-offset-x: -175px;
$arrow-down-offset-y: -328px;
$arrow-down-width: 30px;
$arrow-down-height: 30px;
$arrow-down-total-width: 420px;
$arrow-down-total-height: 416px;
$arrow-down-image: 'sprite.png';
$arrow-down: (175px, 328px, -175px, -328px, 30px, 30px, 420px, 416px, 'sprite.png', 'arrow-down', );
$arrow-left-circle-name: 'arrow-left-circle';
$arrow-left-circle-x: 396px;
$arrow-left-circle-y: 224px;
$arrow-left-circle-offset-x: -396px;
$arrow-left-circle-offset-y: -224px;
$arrow-left-circle-width: 20px;
$arrow-left-circle-height: 20px;
$arrow-left-circle-total-width: 420px;
$arrow-left-circle-total-height: 416px;
$arrow-left-circle-image: 'sprite.png';
$arrow-left-circle: (396px, 224px, -396px, -224px, 20px, 20px, 420px, 416px, 'sprite.png', 'arrow-left-circle', );
$arrow-right-circle-name: 'arrow-right-circle';
$arrow-right-circle-x: 231px;
$arrow-right-circle-y: 284px;
$arrow-right-circle-offset-x: -231px;
$arrow-right-circle-offset-y: -284px;
$arrow-right-circle-width: 20px;
$arrow-right-circle-height: 20px;
$arrow-right-circle-total-width: 420px;
$arrow-right-circle-total-height: 416px;
$arrow-right-circle-image: 'sprite.png';
$arrow-right-circle: (231px, 284px, -231px, -284px, 20px, 20px, 420px, 416px, 'sprite.png', 'arrow-right-circle', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 247px;
$arrow-right-y: 203px;
$arrow-right-offset-x: -247px;
$arrow-right-offset-y: -203px;
$arrow-right-width: 50px;
$arrow-right-height: 14px;
$arrow-right-total-width: 420px;
$arrow-right-total-height: 416px;
$arrow-right-image: 'sprite.png';
$arrow-right: (247px, 203px, -247px, -203px, 50px, 14px, 420px, 416px, 'sprite.png', 'arrow-right', );
$arrow-bottom-name: 'arrow_bottom';
$arrow-bottom-x: 366px;
$arrow-bottom-y: 108px;
$arrow-bottom-offset-x: -366px;
$arrow-bottom-offset-y: -108px;
$arrow-bottom-width: 53px;
$arrow-bottom-height: 53px;
$arrow-bottom-total-width: 420px;
$arrow-bottom-total-height: 416px;
$arrow-bottom-image: 'sprite.png';
$arrow-bottom: (366px, 108px, -366px, -108px, 53px, 53px, 420px, 416px, 'sprite.png', 'arrow_bottom', );
$bar-icon1-name: 'bar-icon1';
$bar-icon1-x: 102px;
$bar-icon1-y: 158px;
$bar-icon1-offset-x: -102px;
$bar-icon1-offset-y: -158px;
$bar-icon1-width: 25px;
$bar-icon1-height: 55px;
$bar-icon1-total-width: 420px;
$bar-icon1-total-height: 416px;
$bar-icon1-image: 'sprite.png';
$bar-icon1: (102px, 158px, -102px, -158px, 25px, 55px, 420px, 416px, 'sprite.png', 'bar-icon1', );
$bar-icon2-name: 'bar-icon2';
$bar-icon2-x: 102px;
$bar-icon2-y: 98px;
$bar-icon2-offset-x: -102px;
$bar-icon2-offset-y: -98px;
$bar-icon2-width: 25px;
$bar-icon2-height: 55px;
$bar-icon2-total-width: 420px;
$bar-icon2-total-height: 416px;
$bar-icon2-image: 'sprite.png';
$bar-icon2: (102px, 98px, -102px, -98px, 25px, 55px, 420px, 416px, 'sprite.png', 'bar-icon2', );
$bar-icon3-name: 'bar-icon3';
$bar-icon3-x: 366px;
$bar-icon3-y: 224px;
$bar-icon3-offset-x: -366px;
$bar-icon3-offset-y: -224px;
$bar-icon3-width: 25px;
$bar-icon3-height: 55px;
$bar-icon3-total-width: 420px;
$bar-icon3-total-height: 416px;
$bar-icon3-image: 'sprite.png';
$bar-icon3: (366px, 224px, -366px, -224px, 25px, 55px, 420px, 416px, 'sprite.png', 'bar-icon3', );
$comment-name: 'comment';
$comment-x: 0px;
$comment-y: 328px;
$comment-offset-x: 0px;
$comment-offset-y: -328px;
$comment-width: 56px;
$comment-height: 51px;
$comment-total-width: 420px;
$comment-total-height: 416px;
$comment-image: 'sprite.png';
$comment: (0px, 328px, 0px, -328px, 56px, 51px, 420px, 416px, 'sprite.png', 'comment', );
$connect-name: 'connect';
$connect-x: 0px;
$connect-y: 223px;
$connect-offset-x: 0px;
$connect-offset-y: -223px;
$connect-width: 100px;
$connect-height: 100px;
$connect-total-width: 420px;
$connect-total-height: 416px;
$connect-image: 'sprite.png';
$connect: (0px, 223px, 0px, -223px, 100px, 100px, 420px, 416px, 'sprite.png', 'connect', );
$down-arrow-name: 'down-arrow';
$down-arrow-x: 37px;
$down-arrow-y: 384px;
$down-arrow-offset-x: -37px;
$down-arrow-offset-y: -384px;
$down-arrow-width: 32px;
$down-arrow-height: 32px;
$down-arrow-total-width: 420px;
$down-arrow-total-height: 416px;
$down-arrow-image: 'sprite.png';
$down-arrow: (37px, 384px, -37px, -384px, 32px, 32px, 420px, 416px, 'sprite.png', 'down-arrow', );
$icon-hs-white-name: 'icon-hs-white';
$icon-hs-white-x: 61px;
$icon-hs-white-y: 328px;
$icon-hs-white-offset-x: -61px;
$icon-hs-white-offset-y: -328px;
$icon-hs-white-width: 30px;
$icon-hs-white-height: 38px;
$icon-hs-white-total-width: 420px;
$icon-hs-white-total-height: 416px;
$icon-hs-white-image: 'sprite.png';
$icon-hs-white: (61px, 328px, -61px, -328px, 30px, 38px, 420px, 416px, 'sprite.png', 'icon-hs-white', );
$icon-instagram-white-name: 'icon-instagram-white';
$icon-instagram-white-x: 96px;
$icon-instagram-white-y: 328px;
$icon-instagram-white-offset-x: -96px;
$icon-instagram-white-offset-y: -328px;
$icon-instagram-white-width: 33px;
$icon-instagram-white-height: 33px;
$icon-instagram-white-total-width: 420px;
$icon-instagram-white-total-height: 416px;
$icon-instagram-white-image: 'sprite.png';
$icon-instagram-white: (96px, 328px, -96px, -328px, 33px, 33px, 420px, 416px, 'sprite.png', 'icon-instagram-white', );
$icon-plus-white-name: 'icon-plus-white';
$icon-plus-white-x: 0px;
$icon-plus-white-y: 384px;
$icon-plus-white-offset-x: 0px;
$icon-plus-white-offset-y: -384px;
$icon-plus-white-width: 32px;
$icon-plus-white-height: 32px;
$icon-plus-white-total-width: 420px;
$icon-plus-white-total-height: 416px;
$icon-plus-white-image: 'sprite.png';
$icon-plus-white: (0px, 384px, 0px, -384px, 32px, 32px, 420px, 416px, 'sprite.png', 'icon-plus-white', );
$icon-twitter-white-name: 'icon-twitter-white';
$icon-twitter-white-x: 134px;
$icon-twitter-white-y: 328px;
$icon-twitter-white-offset-x: -134px;
$icon-twitter-white-offset-y: -328px;
$icon-twitter-white-width: 36px;
$icon-twitter-white-height: 30px;
$icon-twitter-white-total-width: 420px;
$icon-twitter-white-total-height: 416px;
$icon-twitter-white-image: 'sprite.png';
$icon-twitter-white: (134px, 328px, -134px, -328px, 36px, 30px, 420px, 416px, 'sprite.png', 'icon-twitter-white', );
$icon-youtube-white-name: 'icon-youtube-white';
$icon-youtube-white-x: 366px;
$icon-youtube-white-y: 284px;
$icon-youtube-white-offset-x: -366px;
$icon-youtube-white-offset-y: -284px;
$icon-youtube-white-width: 42px;
$icon-youtube-white-height: 30px;
$icon-youtube-white-total-width: 420px;
$icon-youtube-white-total-height: 416px;
$icon-youtube-white-image: 'sprite.png';
$icon-youtube-white: (366px, 284px, -366px, -284px, 42px, 30px, 420px, 416px, 'sprite.png', 'icon-youtube-white', );
$lock-name: 'lock';
$lock-x: 245px;
$lock-y: 328px;
$lock-offset-x: -245px;
$lock-offset-y: -328px;
$lock-width: 15px;
$lock-height: 18px;
$lock-total-width: 420px;
$lock-total-height: 416px;
$lock-image: 'sprite.png';
$lock: (245px, 328px, -245px, -328px, 15px, 18px, 420px, 416px, 'sprite.png', 'lock', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 98px;
$logo-offset-x: 0px;
$logo-offset-y: -98px;
$logo-width: 97px;
$logo-height: 120px;
$logo-total-width: 420px;
$logo-total-height: 416px;
$logo-image: 'sprite.png';
$logo: (0px, 98px, 0px, -98px, 97px, 120px, 420px, 416px, 'sprite.png', 'logo', );
$magnifier-name: 'magnifier';
$magnifier-x: 105px;
$magnifier-y: 223px;
$magnifier-offset-x: -105px;
$magnifier-offset-y: -223px;
$magnifier-width: 90px;
$magnifier-height: 90px;
$magnifier-total-width: 420px;
$magnifier-total-height: 416px;
$magnifier-image: 'sprite.png';
$magnifier: (105px, 223px, -105px, -223px, 90px, 90px, 420px, 416px, 'sprite.png', 'magnifier', );
$ok-circle-18x18-name: 'ok-circle-18x18';
$ok-circle-18x18-x: 342px;
$ok-circle-18x18-y: 246px;
$ok-circle-18x18-offset-x: -342px;
$ok-circle-18x18-offset-y: -246px;
$ok-circle-18x18-width: 18px;
$ok-circle-18x18-height: 18px;
$ok-circle-18x18-total-width: 420px;
$ok-circle-18x18-total-height: 416px;
$ok-circle-18x18-image: 'sprite.png';
$ok-circle-18x18: (342px, 246px, -342px, -246px, 18px, 18px, 420px, 416px, 'sprite.png', 'ok-circle-18x18', );
$owl-next-name: 'owl-next';
$owl-next-x: 265px;
$owl-next-y: 328px;
$owl-next-offset-x: -265px;
$owl-next-offset-y: -328px;
$owl-next-width: 16px;
$owl-next-height: 16px;
$owl-next-total-width: 420px;
$owl-next-total-height: 416px;
$owl-next-image: 'sprite.png';
$owl-next: (265px, 328px, -265px, -328px, 16px, 16px, 420px, 416px, 'sprite.png', 'owl-next', );
$owl-prev-name: 'owl-prev';
$owl-prev-x: 326px;
$owl-prev-y: 284px;
$owl-prev-offset-x: -326px;
$owl-prev-offset-y: -284px;
$owl-prev-width: 16px;
$owl-prev-height: 16px;
$owl-prev-total-width: 420px;
$owl-prev-total-height: 416px;
$owl-prev-image: 'sprite.png';
$owl-prev: (326px, 284px, -326px, -284px, 16px, 16px, 420px, 416px, 'sprite.png', 'owl-prev', );
$plus-circle-18x18-name: 'plus-circle-18x18';
$plus-circle-18x18-x: 342px;
$plus-circle-18x18-y: 223px;
$plus-circle-18x18-offset-x: -342px;
$plus-circle-18x18-offset-y: -223px;
$plus-circle-18x18-width: 18px;
$plus-circle-18x18-height: 18px;
$plus-circle-18x18-total-width: 420px;
$plus-circle-18x18-total-height: 416px;
$plus-circle-18x18-image: 'sprite.png';
$plus-circle-18x18: (342px, 223px, -342px, -223px, 18px, 18px, 420px, 416px, 'sprite.png', 'plus-circle-18x18', );
$plus-circle-name: 'plus-circle';
$plus-circle-x: 396px;
$plus-circle-y: 249px;
$plus-circle-offset-x: -396px;
$plus-circle-offset-y: -249px;
$plus-circle-width: 20px;
$plus-circle-height: 20px;
$plus-circle-total-width: 420px;
$plus-circle-total-height: 416px;
$plus-circle-image: 'sprite.png';
$plus-circle: (396px, 249px, -396px, -249px, 20px, 20px, 420px, 416px, 'sprite.png', 'plus-circle', );
$plus-circle2-name: 'plus-circle2';
$plus-circle2-x: 200px;
$plus-circle2-y: 284px;
$plus-circle2-offset-x: -200px;
$plus-circle2-offset-y: -284px;
$plus-circle2-width: 26px;
$plus-circle2-height: 26px;
$plus-circle2-total-width: 420px;
$plus-circle2-total-height: 416px;
$plus-circle2-image: 'sprite.png';
$plus-circle2: (200px, 284px, -200px, -284px, 26px, 26px, 420px, 416px, 'sprite.png', 'plus-circle2', );
$profile-img-slider-name: 'profile-img-slider';
$profile-img-slider-x: 282px;
$profile-img-slider-y: 223px;
$profile-img-slider-offset-x: -282px;
$profile-img-slider-offset-y: -223px;
$profile-img-slider-width: 55px;
$profile-img-slider-height: 55px;
$profile-img-slider-total-width: 420px;
$profile-img-slider-total-height: 416px;
$profile-img-slider-image: 'sprite.png';
$profile-img-slider: (282px, 223px, -282px, -223px, 55px, 55px, 420px, 416px, 'sprite.png', 'profile-img-slider', );
$profile-name: 'profile';
$profile-x: 247px;
$profile-y: 98px;
$profile-offset-x: -247px;
$profile-offset-y: -98px;
$profile-width: 100px;
$profile-height: 100px;
$profile-total-width: 420px;
$profile-total-height: 416px;
$profile-image: 'sprite.png';
$profile: (247px, 98px, -247px, -98px, 100px, 100px, 420px, 416px, 'sprite.png', 'profile', );
$progress-bar-facebook-name: 'progress-bar-facebook';
$progress-bar-facebook-x: 305px;
$progress-bar-facebook-y: 284px;
$progress-bar-facebook-offset-x: -305px;
$progress-bar-facebook-offset-y: -284px;
$progress-bar-facebook-width: 16px;
$progress-bar-facebook-height: 16px;
$progress-bar-facebook-total-width: 420px;
$progress-bar-facebook-total-height: 416px;
$progress-bar-facebook-image: 'sprite.png';
$progress-bar-facebook: (305px, 284px, -305px, -284px, 16px, 16px, 420px, 416px, 'sprite.png', 'progress-bar-facebook', );
$progress-bar-instagram-name: 'progress-bar-instagram';
$progress-bar-instagram-x: 286px;
$progress-bar-instagram-y: 328px;
$progress-bar-instagram-offset-x: -286px;
$progress-bar-instagram-offset-y: -328px;
$progress-bar-instagram-width: 16px;
$progress-bar-instagram-height: 16px;
$progress-bar-instagram-total-width: 420px;
$progress-bar-instagram-total-height: 416px;
$progress-bar-instagram-image: 'sprite.png';
$progress-bar-instagram: (286px, 328px, -286px, -328px, 16px, 16px, 420px, 416px, 'sprite.png', 'progress-bar-instagram', );
$progress-bar-twitter-name: 'progress-bar-twitter';
$progress-bar-twitter-x: 307px;
$progress-bar-twitter-y: 328px;
$progress-bar-twitter-offset-x: -307px;
$progress-bar-twitter-offset-y: -328px;
$progress-bar-twitter-width: 16px;
$progress-bar-twitter-height: 16px;
$progress-bar-twitter-total-width: 420px;
$progress-bar-twitter-total-height: 416px;
$progress-bar-twitter-image: 'sprite.png';
$progress-bar-twitter: (307px, 328px, -307px, -328px, 16px, 16px, 420px, 416px, 'sprite.png', 'progress-bar-twitter', );
$register-name: 'register';
$register-x: 136px;
$register-y: 111px;
$register-offset-x: -136px;
$register-offset-y: -111px;
$register-width: 100px;
$register-height: 100px;
$register-total-width: 420px;
$register-total-height: 416px;
$register-image: 'sprite.png';
$register: (136px, 111px, -136px, -111px, 100px, 100px, 420px, 416px, 'sprite.png', 'register', );
$search-name: 'search';
$search-x: 256px;
$search-y: 284px;
$search-offset-x: -256px;
$search-offset-y: -284px;
$search-width: 20px;
$search-height: 20px;
$search-total-width: 420px;
$search-total-height: 416px;
$search-image: 'sprite.png';
$search: (256px, 284px, -256px, -284px, 20px, 20px, 420px, 416px, 'sprite.png', 'search', );
$share-facebook-name: 'share-facebook';
$share-facebook-x: 366px;
$share-facebook-y: 0px;
$share-facebook-offset-x: -366px;
$share-facebook-offset-y: 0px;
$share-facebook-width: 54px;
$share-facebook-height: 103px;
$share-facebook-total-width: 420px;
$share-facebook-total-height: 416px;
$share-facebook-image: 'sprite.png';
$share-facebook: (366px, 0px, -366px, 0px, 54px, 103px, 420px, 416px, 'sprite.png', 'share-facebook', );
$share-instagram-name: 'share-instagram';
$share-instagram-x: 136px;
$share-instagram-y: 0px;
$share-instagram-offset-x: -136px;
$share-instagram-offset-y: 0px;
$share-instagram-width: 106px;
$share-instagram-height: 106px;
$share-instagram-total-width: 420px;
$share-instagram-total-height: 416px;
$share-instagram-image: 'sprite.png';
$share-instagram: (136px, 0px, -136px, 0px, 106px, 106px, 420px, 416px, 'sprite.png', 'share-instagram', );
$share-youtube-name: 'share-youtube';
$share-youtube-x: 0px;
$share-youtube-y: 0px;
$share-youtube-offset-x: 0px;
$share-youtube-offset-y: 0px;
$share-youtube-width: 131px;
$share-youtube-height: 93px;
$share-youtube-total-width: 420px;
$share-youtube-total-height: 416px;
$share-youtube-image: 'sprite.png';
$share-youtube: (0px, 0px, 0px, 0px, 131px, 93px, 420px, 416px, 'sprite.png', 'share-youtube', );
$share-name: 'share';
$share-x: 200px;
$share-y: 223px;
$share-offset-x: -200px;
$share-offset-y: -223px;
$share-width: 77px;
$share-height: 56px;
$share-total-width: 420px;
$share-total-height: 416px;
$share-image: 'sprite.png';
$share: (200px, 223px, -200px, -223px, 77px, 56px, 420px, 416px, 'sprite.png', 'share', );
$shared-count-facebook-name: 'shared-count-facebook';
$shared-count-facebook-x: 352px;
$shared-count-facebook-y: 98px;
$shared-count-facebook-offset-x: -352px;
$shared-count-facebook-offset-y: -98px;
$shared-count-facebook-width: 8px;
$shared-count-facebook-height: 16px;
$shared-count-facebook-total-width: 420px;
$shared-count-facebook-total-height: 416px;
$shared-count-facebook-image: 'sprite.png';
$shared-count-facebook: (352px, 98px, -352px, -98px, 8px, 16px, 420px, 416px, 'sprite.png', 'shared-count-facebook', );
$shared-count-hs-name: 'shared-count-hs';
$shared-count-hs-x: 347px;
$shared-count-hs-y: 284px;
$shared-count-hs-offset-x: -347px;
$shared-count-hs-offset-y: -284px;
$shared-count-hs-width: 12px;
$shared-count-hs-height: 16px;
$shared-count-hs-total-width: 420px;
$shared-count-hs-total-height: 416px;
$shared-count-hs-image: 'sprite.png';
$shared-count-hs: (347px, 284px, -347px, -284px, 12px, 16px, 420px, 416px, 'sprite.png', 'shared-count-hs', );
$shared-count-insta-name: 'shared-count-insta';
$shared-count-insta-x: 328px;
$shared-count-insta-y: 328px;
$shared-count-insta-offset-x: -328px;
$shared-count-insta-offset-y: -328px;
$shared-count-insta-width: 16px;
$shared-count-insta-height: 16px;
$shared-count-insta-total-width: 420px;
$shared-count-insta-total-height: 416px;
$shared-count-insta-image: 'sprite.png';
$shared-count-insta: (328px, 328px, -328px, -328px, 16px, 16px, 420px, 416px, 'sprite.png', 'shared-count-insta', );
$shared-count-twiter-name: 'shared-count-twiter';
$shared-count-twiter-x: 281px;
$shared-count-twiter-y: 284px;
$shared-count-twiter-offset-x: -281px;
$shared-count-twiter-offset-y: -284px;
$shared-count-twiter-width: 19px;
$shared-count-twiter-height: 16px;
$shared-count-twiter-total-width: 420px;
$shared-count-twiter-total-height: 416px;
$shared-count-twiter-image: 'sprite.png';
$shared-count-twiter: (281px, 284px, -281px, -284px, 19px, 16px, 420px, 416px, 'sprite.png', 'shared-count-twiter', );
$shere-twitter-name: 'shere-twitter';
$shere-twitter-x: 247px;
$shere-twitter-y: 0px;
$shere-twitter-offset-x: -247px;
$shere-twitter-offset-y: 0px;
$shere-twitter-width: 114px;
$shere-twitter-height: 93px;
$shere-twitter-total-width: 420px;
$shere-twitter-total-height: 416px;
$shere-twitter-image: 'sprite.png';
$shere-twitter: (247px, 0px, -247px, 0px, 114px, 93px, 420px, 416px, 'sprite.png', 'shere-twitter', );
$spritesheet-width: 420px;
$spritesheet-height: 416px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arrow-down-circle-tr, $arrow-down-circle, $arrow-down-hover, $arrow-down, $arrow-left-circle, $arrow-right-circle, $arrow-right, $arrow-bottom, $bar-icon1, $bar-icon2, $bar-icon3, $comment, $connect, $down-arrow, $icon-hs-white, $icon-instagram-white, $icon-plus-white, $icon-twitter-white, $icon-youtube-white, $lock, $logo, $magnifier, $ok-circle-18x18, $owl-next, $owl-prev, $plus-circle-18x18, $plus-circle, $plus-circle2, $profile-img-slider, $profile, $progress-bar-facebook, $progress-bar-instagram, $progress-bar-twitter, $register, $search, $share-facebook, $share-instagram, $share-youtube, $share, $shared-count-facebook, $shared-count-hs, $shared-count-insta, $shared-count-twiter, $shere-twitter, );
$spritesheet: (420px, 416px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
