@each $user-type, $user-color in (athletes, map_get($colors, 'athletes-color')),
                    (brands, map_get($colors, 'brands-color')),
                    (teams, map_get($colors, 'teams-color')){
  .#{$user-type} {
    .page__user-bar {
      background: linear-gradient(to right, #fff 0%, #fff 54%, #{$user-color} 54%, #{$user-color} 100%);

      .user-bar{
        li{
          &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #{$user-color};
            opacity:.5;
          }

          //&:hover{
          //  &:before{
          //    background: transparent;
          //  }
          //}
        }
      }
    }

    .page-calendar__slider {
      .item {
        th {
          color: #{$user-color};
        }

        .event-date {
          &:before {
            background: #{$user-color};
          }
        }

        .today {
          &:before {
            background: #{$user-color};
          }
        }
      }

      .slider__pager {
        .owl-dot {
          &.active {
            color: #{$user-color};
          }
        }
      }
    }

    .page-calendar__todo-list {
      em {
        background: #{$user-color};
      }
    }

    @media (max-width: 1200px) {
      .page__user-bar {
        background: linear-gradient(to right, #fff 0%, #fff 48%, #{$user-color} 48%, #{$user-color} 100%);
      }
    }

    @media (max-width: 992px) {
      .page__user-bar {
        background: linear-gradient(to right, #fff 0%, #fff 35%, #{$user-color} 35%, #{$user-color} 100%);
      }
    }

    @media (max-width: 767px) {
      .page__user-bar {
        background: transparent;
      }
    }
  }
}