$main-color: #004a80;
$accent-color: #b0a635;
$white: #fff;
$grey: darken($white, 40%);
$black: #000;
$dark-color: #212123;
$red-color: #d22;

$youtube-color: #bb0000;
$twitter-color: #00aced;
$facebook-color: #3b5998;
$instagramm-color: #517fa4;


$colors: (
        'red': #d24c48,
        'gold': #b0a635,
        'grey': #888,
        'blue': #00aced,
        'turquoise': #08ad61,
        'dark-blue': #4867aa,
        'input-border': #D5D7D7,
        'athletes-color': #ef8899,
        'brands-color': #b184bd,
        'teams-color': #1d5fa9,
        'btn-red': #d9534f,
        'btn-red--hover': #c9302c,
        'btn-grey': #888,
);