$main-color: #004a80;
$accent-color: #b0a635;
$white: #fff;
$grey: darken($white, 40%);
$black: #000;
$dark-color: #212123;
$red-color: #d22;

$youtube-color: #bb0000;
$twitter-color: #00aced;
$facebook-color: #3b5998;
$instagramm-color: #517fa4;


$colors: (
        'red': #d24c48,
        'gold': #b0a635,
        'pink2': rgb(244, 209, 212),
        'pink3': #f9e8e9,
        'grey': #e5e5e5,
        'grey2': rgb(221, 238, 233),
        'grey3': #e2d2d3,
        'turquoise': rgb(118, 239, 203),//81f0cf
        'turquoise2': rgb(66, 236, 185)
);