$main-color: #004a80;
$accent-color: #b0a635;
$white: #fff;
$grey: darken($white, 40%);
$black: #000;
$dark-color: #212123;
$red-color: #d22;

$youtube-color: #bb0000;
$twitter-color: #00aced;
$facebook-color: #3b5998;
$instagramm-color: #517fa4;


$colors: (
        'red': #d24c48,
        'gold': #b0a635,
        'athletes-color': #d24c48,
        'brands-color': #4866d2,
        'teams-color': #48d2c5,
);