/* ============================ Main styles ============================ */

@import '_variables';
@import 'my_functions';
@import '_sprite';
@import '_icons';
@import '_base';
@import '_atomic';
@import '_buttons';
@import '_forms';


@import 'partials/header';
@import 'partials/page-home';
@import 'partials/footer';
@import 'partials/blog';
@import 'partials/single-blog-page';
@import 'partials/athletes-list';
@import 'partials/single-athlete';
@import 'partials/video-player';
@import 'partials/chat-modal';

.header__user-bar{
  ul{
    margin:0;
    padding:0;

    li{
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      padding: 10px 0 0;

      a{
        position: relative;
        display: block;

        i{

        }

        span{
          position: absolute;
          top: -10px;
          right: -10px;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background: #9a911c;
          font-size: 12px;
          text-align: center;
          vertical-align: middle;
          color: #fff;
          line-height: 18px;
        }
      }
    }
  }
}


.page__user-bar{
  padding:10px 0;
  background: linear-gradient(to right, #fff 0%, #fff 54%, map_get($colors, 'red') 54%, map_get($colors, 'red') 100%);
  box-shadow: 0 0 6px -2px #000;


  .flex-container{
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .page-name{
    p{
      margin:0;
      text-transform: uppercase;
      font-size: 30px;
      line-height: 1;
    }
  }

  .user-bar{
    ul{
      margin:0;
      padding:0;
      list-style: none;

      li{
        display: inline-block;
        position: relative;
        margin-right:10px;

        &:last-child{
          margin-right: 0;
        }

        &:after{
          content: '';
          position: absolute;
          bottom:-13px;
          left:0;
          right:0;
          height:0;
          width:100%;
          background: #fff;
          transition: .2s ease-in-out;
        }

        &:hover{
          &:after{
            height:3px;
          }

          a{
            i{
              top:-30px;
            }
          }
        }

        a{
          display: block;
          padding: 0 10px;
          height:25px;
          overflow: hidden;
          transition: .2s ease-in-out;

          i{
            position: relative;
            top:0;
            transition: .2s ease-in-out;
          }
        }

        &.active{
          &:after{
            height:3px;
          }

          a{
            i{
              top:-30px;
            }
          }
        }
      }
    }
  }
}



.page-filter{
  margin-bottom:50px;

  .flex-container{
    flex-wrap: wrap;
    align-items: center;
  }

  .form-item{
    margin-right:30px;

    &:last-child{
      margin-right:30px;
    }

    .search-block{
      min-width: 300px;
    }
  }
}

.applications{
  padding-bottom:40px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom:40px;

  &:last-child{
    padding-bottom:0;
    border-bottom: none;
    margin-bottom:0;
  }
}

.application__title{
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom:10px;
}

.application__head{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 10px;

  div{
    margin-right: 6px;


    &:nth-child(1){
      width:22%;
    }

    &:nth-child(2){
      width:44%;
    }

    &:nth-child(3){
      width:11%;
    }

    &:nth-child(4){
      width:8%;
    }

    &:nth-child(5){
      width:11%;
    }

    &:nth-child(6){
      width:4%;
    }

    &:last-child{
      margin-right: 0;
    }
  }
}

.application__item-add{
  position: absolute;
  left: 0;
  top:0;
  bottom:0;
  width:25px;
  height:25px;
  margin:auto;
  border-radius: 50%;
  background: #c9c8c8;
  font-family: monospace;
  font-size: 20px;
  color:#fff;
  line-height: 25px;
  text-align: center;

  &:hover{
    text-decoration: none;
  }
}

.application__status{
  display: block;
  width:30px;
  height:30px;
  margin:auto;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative;

  &:after{
    content: '';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:20px;
    height:20px;
    margin:auto;
    border-radius:50%;
    background: #ddd;
    box-shadow: inset 0 0 6px -2px #000;
  }

  &.active{
    &:after{
      background: #429650;
    }
  }

}

.application__item{
  @extend .application__head;
  font-size: 18px;

  div{

    &:nth-child(1){
      position: relative;
      padding-left:40px;
    }

    &:nth-child(6){
      text-align: center;
    }
  }
}

.campaigns{
  @extend .applications;
}

.campaigns__title {
  @extend .application__title;
}
.campaigns__head {
  @extend .application__head;
}
.campaigns__item-add {
  @extend .application__item-add;
}
.campaigns__status {
  @extend .application__status;
}
.campaigns__item {
  @extend .application__item;
}

.page-calendar{
  .flex-container{
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-calendar__slider{
  width: 55%;
  position: relative;

  .owl-carousel{
    display: flex;
    height: 100%;

    .owl-stage-outer{
      order:2;
      width: 100%;
      padding: 0 40px;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }

    .slider__pager{
      order:1;
      width: 15%;

      div{
        display: block;
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
        text-transform: uppercase;

        &:last-child{
          margin-bottom: 0;
        }

        &.active{
          color: map_get($colors, 'red')
        }
      }
    }

    .owl-nav{
      position: absolute;
      top:0;
      right:35px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;


      div{
        display: flex;
        margin-right: 16px;
        opacity: .3;
        transition: .2s ease-in-out;

        &:hover{
          opacity: 1;
        }
      }
    }

    .item{
      p{
        font-size: 40px;
        text-transform: uppercase;
        line-height: 1;
      }

      table{
        th, td{
          padding: 16px 20px;
          text-align: center;
          vertical-align: middle;

          &:first-child{
            padding-left:0;
          }
        }

        tr{

        }

        td{
          &.another-month{
            color: #ddd;
          }

          &.event-date{
            position: relative;

            &:before{
              content: '';
              position: absolute;
              top: 8px;
              left: 0;
              right: 0;
              width: 5px;
              height: 5px;
              margin: auto;
              background: map_get($colors, 'red');
              border-radius: 50%;
            }
          }

          &.today{
            position: relative;
            color: #fff;

            &:before{
              content: '';
              position: absolute;
              top:0;
              left:0;
              right:0;
              bottom:0;
              width: 40px;
              height: 40px;
              margin: auto;
              background: map_get($colors, 'red');
              border-radius: 50%;
              z-index: -1;
            }
          }
        }

        th{
          text-transform: uppercase;
          color: map_get($colors, 'red')
        }
      }
    }
  }
}

.page-calendar__add-event{
  position: absolute;
  top: 0;
  right: 1px;
  height: 40px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 2;
}

.page-calendar__todo-list{
  flex-grow: 2;
  padding-left:40px;

  p{
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 20px;
  }

  .search-block{
    width:100%;
    margin-bottom: 20px;
  }

  ul{
    margin: 0;
    padding:0;
    list-style: none;

    li{
      position: relative;
      padding-left: 80px;
      margin-bottom: 20px;
      //min-height: 25px;

      em{
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        background: map_get($colors, 'red');
        border-radius: 20px;
        color: #fff;
        font-style: normal;
        font-size: 18px;
        height: 25px;
        width: 65px;
        justify-content: center;
        padding: 0 6px;
        margin: auto;
        text-transform: uppercase;
        display: inline-block;
        display: flex;
        align-items: center;
      }
    }
  }
}

.athletes-list{
  .flex-container{
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .load-more{
    margin-top: 20px;
  }
}

.athletes-list__item{
  position: relative;
  min-height: 320px;
  margin-bottom: 30px;
  overflow: hidden;
  width: 23%;
  margin-right:30px;

  &:nth-child(4n+4){
    margin-right:0;
  }

  &:hover{
    img{
      transform: translate(-50%, -50%) scale(1.1) rotate(2deg);
    }
  }

  > a{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width:285px;
    transition: .2s ease-in-out;
  }
}

.athletes-list__item-desc{
  position: absolute;
  bottom:0;
  background: rgba(0,0,0,0.6);
  padding: 10px;
  color: #fff;

  p{
    font-size: 22px;
    margin: 0;
    font-weight: 700;
  }

  span{
    display: block;
    margin-bottom: 6px;
  }

  em{
    font-style: normal;
    font-size: 20px;
    padding-right:26px;
    display: block;
  }

  a{
    display: block;
    position: absolute;
    right:10px;
    bottom: 11px;
    line-height: 0;

    &:hover {
      i{
        transform:  scale(1) rotate(270deg);
      }
    }

    i{
      transition: .2s ease-in-out;
      transform:  scale(-.77);
    }
  }
}

.page-analytics{

}

.page-analytics__block{
  margin-bottom: 100px;

  &:last-child{
    margin-bottom: 0;
  }

  .social-progress-bar{
    margin-top:30px;
  }
}

.page-analytics__block-title{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1;
  margin-bottom:40px;
}

.page-massages{
  .flex-container{
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
}

.page-massages__nav{
  //width: 20%;
  padding-right: 30px;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
      margin-bottom:20px;
      text-align: center;

      &:last-child{
        margin-bottom: 0;
      }

      a{
        font-size: 20px;
        text-transform: uppercase;
        color: #000;

        &:hover{
          text-decoration: none;
        }

        &.active{
          color: map_get($colors, 'red');
        }
      }
    }
  }
}

.page-massages__list{
  padding-left: 30px;
  padding-right: 30px;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  width:35%;

  .collapse-toggle{
    display: none;
  }
}

.page-massages__filter{
  display: flex;
  justify-content: space-between;

  margin-bottom:30px;
}

.page-massages__list-item{
  position: relative;
  padding-left:60px;
  margin-bottom: 20px;

  &:last-child{
    margin-bottom:0;
  }

  a{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    margin: auto;
  }
}

.page-massages__list-item-head{
  display: flex;
  justify-content: space-between;

  p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.page-massages__view{
  width:65%;
  padding-left: 30px;
}

.page-massages__view-item{
  border-bottom:1px solid #ddd;
  margin-bottom: 30px;

  &:last-child{
    border-bottom:none;
    margin-bottom: 0;
  }
}

.page-massages__view-item-head{
  @extend .page-massages__list-item-head;
  margin-bottom: 30px;
}

.page-massages__view-item-body{
  margin-bottom: 30px;
}

.user-profile-bar{
  padding:6px 0;
  background: #fff;

  .flex-container{
    justify-content: space-between;
    align-items: center;
  }
}

.user-status{
  display: flex;
  justify-content: center;

  a{
    display: flex;
    align-items: center;
    margin-right:50px;
    text-transform: uppercase;
    font-size: 20px;
    color: #000;

    &:hover{
      text-decoration: none;
      //cursor: pointer;
    }

    &:last-child{
      margin-right: 0;
    }

    i{
      margin-left:16px;
    }
  }
}

.user-shared-count{
  ul{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li{
      font-size: 20px;
      margin-right:20px;
      display: flex;
      align-items: center;

      i{
        margin-right:6px;
      }

      &:last-child{
        margin-right:0;
      }
    }
  }
}

.profile-section1{
  min-height:750px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;

  &:after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.7));
    z-index: -1;
  }

  >img{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    object-fit: cover;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  h1{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    font-size: 80px;
  }

  .user-status{
    margin-bottom: 50px;

    a{
      color: #fff;
    }
  }

  .info-summary{
    margin-bottom:30px;
  }
}

.profile-section3{
  position: relative;
  padding:50px 0;
  border-bottom: 1px solid #ceced2;
}

.profile__user-description{
  font-size: 20px;

  td{
    padding-bottom:4px;

    &:first-child{
      text-transform: uppercase;
      font-weight: 700;
      min-width: 150px;
    }

    &:last-child{
      color: #888;
      font-weight: 100;
    }
  }
}

.profile-section4{
  padding:50px 0;
}

.profile-section5{

}

#profile-img-slider{
  position: relative;

  .owl-stage{
    display: flex;
    align-self: stretch;
  }

  .slider-item{
    display: flex;
    height: 100%;
    background: #ddd;
    justify-content: center;
    align-items: center;

    &.empty{
      a{
        width: 90px;
        height: 90px;
      }
    }
  }

  .owl-nav{
    position: absolute;
    top:50%;
    left:0;
    right:0;
    transform: translate(0, -50%);
    margin-top: -28px;
  }

  .owl-prev,
  .owl-next{
    position: absolute;
    top:0;
    opacity: 0.7;
    transition: .2s ease-in-out;

    &:hover{
      opacity: 1;
    }
  }

  .owl-prev{
    left:15px;
  }

  .owl-next{
    right:15px;
  }
}

.profile-section6{
  background: #000;
  padding:50px 0;

  .block-title{
    margin-bottom:80px;
  }

  .info-summary{
    margin-bottom: 100px;

    &:last-child{
      margin-bottom:0;
    }
  }
}

.profile-section7{
  padding:50px 0;

  .info-summary{
    margin-bottom:50px;
  }
}

.profile-section8{

}

#profile-news-slider{
  border-bottom: 1px solid #ddd;
  margin-bottom: 80px;

  .slider__item{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: flex-start;
  }

  .owl-nav {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: 0;
    opacity: 0.7;
    transition: .2s ease-in-out;

    &:hover{
      opacity: 1;
    }
  }

  .owl-prev {
    left: 15px;
  }

  .owl-next {
    right: 15px;
  }

  .owl-dots{
    height: 2px;
    background: #E9E8E7;
    position: absolute;
    bottom: -41px;
    left: 70px;
    right: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .owl-dot{
    width:100%;
    height:4px;

    &.active{
      background: map_get($colors, 'gold');
    }
  }
}

.news__item{
  width:50%;
  height:400px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding:20px;

  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  &:hover{
    a{
      background: rgba(0, 0, 0, 0.5);
      &:before{
        transform: scale(1);
      }
    }
  }

  a{
    display: block;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    z-index: 1;
    transition: .2s ease-in-out;

    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin:auto;
      @include sprite($magnifier);
      transform: scale(0);
      transition: .2s ease-in-out;
      z-index: 2;
    }
  }

  img{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }

  &.default{
    justify-content: flex-end;

    &:after{
      top: 40%;
      background: linear-gradient(0, #000, transparent);
    }

    p{
      color: #fff;
      font-size: 18px;
      display: flex;
      text-transform: uppercase;
    }
  }

  &.twitter{
    align-items: center;
    justify-content: center;

    &:after{

    }

    .icon{
      margin-bottom:20px;
    }

    span{
      display: inline-block;
      margin-bottom: 40px;
    }

    p{
      font-size: 22px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
    }
  }

  &.youtube{
    justify-content: flex-end;

    .icon-youtube2{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin:auto;

      &:before{
        content: '';
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        width:80px;
        height:80px;
        background: #b00;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }
}

.news__item-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 100%;

  span, i{
    display: block;
  }
}

.profile-section9 {
  padding: 50px 0 0;

  .block-title{
    margin-right: 20px;
  }

}

.worked-with{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.worked-with__item{
  margin-bottom: 50px;
  padding:10px;
  width:20%;

  .button-circle__add{
    width:80px;
    height:80px;
    margin: auto;
    background: transparent;
    border: 2px solid #c9c8c8;

    &:before, &:after{
      background: #c9c8c8;
    }
  }
}

.profile-section10{
  padding: 50px 0;
  text-align: center;

  .block-title{
    p{
      font-size: 50px;
      font-weight:700;
    }
  }

  span{
    font-size: 30px;
    text-transform: uppercase;
    font-weight:700;
  }
}

//.youtube { background: #bb0000 };
//.twitter { background: #00aced };
//.facebook { background: #3b5998 };
//.instagramm { background: #517fa4 };

@import "fonts";

/* ============================ Media max-1200px ============================ */

@import 'max-1200';

/* ============================ Media max-992px ============================ */

@import 'max-992';

/* ============================ Media max-767px ============================ */

@import 'max-767';

/* ============================ Media max-550px ============================ */

@import 'max-550';